 <div class="Table">
    <!-- ko foreach: settings.temperature_profiles -->
    <div class="Table-row">
        <div class="Table-item profile_name">
           <input type="text" class="text-right" data-bind="value: name">
        </div>
        <div class="Table-item extruder_temp">
            <input type="text" data-bind="value: extruder">
        </div>
        <div class="Table-item bed_temp">
            <input type="text" data-bind="value: bed">
        </div>
        <div class="Table-item">
            <ul class="button-area">
                <li class="button failed-button"><a href="#delete" data-bind="click: $parent.removeTemperatureProfile"><span>Delete</span></a></li>
            </ul>
        </div>
    </div>
    <!-- /ko -->
    <div class="Table-row">
        <div class="Table-item">
            <ul class="button-area">
                <li class="button" data-bind="click: function(){startLoading('tool0')}"><a href="#loadfilament"><span>Load Right</span></a></li>
                <li class="button" data-bind="click: function(){startLoading('tool1')}"><a href="#loadfilament"><span>Load Left</span></a></li>
                <li class="button" data-bind="click: function(){stopLoading()}"><a href="#loadfilament"><span>Stop</span></a></li>
            </ul>
        </div>
    </div>
</div>