<div class="Table">
    <div class="Table-row Table-header"> 
        <div class="Table-item">
            <div>Swapping filament: <span data-bind="text: toolText"></span></div>    
        </div>
    </div>
    <div class="Table-row">
        <div class="Table-item">
            <div id="swap_process" data-bind="css: { disabled: !printerState.isOperational() }">
                <div class="swap_process_step" id="swap_process_unload">
                    <div class="explain">Please press unload to release the filament from the extruder. The spool that you are unloading has <span data-bind="text: filamentUnload" class="bold"></span> left.</div>
                    <ul class="button-area">
                        <li class="button ok-button" id="unload_cmd" data-bind="click: doUnload, css: { disabled: !loginState.loggedIn()}">
                            <a href="#"><span><i class="fa fa-arrow-up"></i>Unload</span></a>
                        </li>
                    </ul>
                </div>
                <div class="swap_process_step" id="swap_process_load">
                    Please select the new filament material
                    <select class="select-material" data-bind="options: materialProfiles,
                                   optionsText: 'name',
                                   value: selectedTemperatureProfile,
                                   optionsCaption: 'Choose material...'">
                    </select>
                    Select how much filament is on the spool:
                    <div id="slider_wrapper">
                        <div id="slider" class="noUi-extended"></div>
                    </div>
                    <div class="Table">
                        <div class="Table-row">
                            <div class="Table-item">
                                <input id="input-format"></input>
                            </div>
                            <div class="Table-item">
                                <span id="filament_percent"></span>   
                            </div>
                        </div>
                    </div>
                    <ul class="button-area">
                        <li class="button ok-button" id="unload_cmd" data-bind="click: selectMaterial, css: { disabled: !selectedTemperatureProfile() || printerState.isLoading() || !loginState.loggedIn()}">
                            <a href="#"><span>Select</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="Table-row">
        <div class="Table-item">
            <div class="swap_process_step" id="swap_process_stopload">
                <div class="explain">Please insert the filament in the filament drawer. Make sure that the filament is past both wheels.</div>
                <ul class="button-area">
                    <li class="button ok-button" data-bind="click: function () {startLoadingFilament() }, css: { disabled: !loginState.loggedIn()}">
                        <a href="#"><span><i class="fa fa-arrow-down"></i>Start Quick Load</span></a>
                    </li>
                    <li class="button ok-button" id="unload_cmd" data-bind="click: doStopLoad, css: { disabled: !loginState.loggedIn()}">
                        <a href="#"><span><i class="fa fa-check"></i>Done</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="swap_process_status" class="Table-row" data-bind="if: currentStatus">
        <div id="swap_process_status_text" class ="Table-item">
            <span data-bind="text: currentStatus"></span> 
        </div>
    </div>
    <div id="swap_process_status_heating" class = "Table-row">  
        <div class="Table-item Table-item-grow-3">
            <div class="progress progress-large">
                <span data-bind="text: temperatureState.toolStatus()[toolNum()].text, style: { width: temperatureState.toolProgress()[toolNum()] + '%'}, css: temperatureState.toolStatus()[toolNum()].color"></span>
                <span class="bg-none" data-bind="text: temperatureState.loadingText, style: {width: '100%'}"></span>
            </div>
        </div>
        <div class="Table-item" style="text-align: right" ><span data-bind="text: temperatureState.tools()[toolNum()]['actual']"></span><span> &deg;C</span></div>
        <div class="Table-item" >/ <b data-bind="text: temperatureState.tools()[toolNum()]['target']"></b><b> &deg;C</b></div>
    </div>
    <div class="Table-row">
        <div class="Table-item">
        </div>
    </div>
</div> <!-- / Table --> 
