<div class="Table no-border">
    <div class="Table-row">
        <div class="Table-item" data-bind="css : {disabled:  toolNum != 1 }" >
                          <div style="width: 60px;  text-align: center;">
                <img src="{{ url_for("plugin.lui.static", filename="img/nozzle.svg") }}" width="60" style="" /><br />
                Left
            </div>
        </div>
        <div class="Table-item" data-bind="css : {disabled:  toolNum != 0 }"  >
            <div style="width: 60px; align-self: flex-end; margin-left: auto; text-align: center;">
                <img src="{{ url_for("plugin.lui.static", filename="img/nozzle.svg") }}" width="60" style="" /><br />
                Right
            </div>
        </div>
    </div>
    </div>
<div id="swap_process" data-bind="css: { disabled: !printerState.isOperational() }">
    <div class="swap_process_step" id="swap_process_unload">
        <div class="explain">Please press unload to release the filament from the extruder.</div>
        <ul class="button-area">
            <li class="button ok-button" id="unload_cmd" data-bind="click: doUnload, css: { disabled: !loginState.loggedIn()}">
                <a href="#"><span><i class="fa fa-arrow-up"></i>Unload</span></a>
            </li>
        </ul>
    </div>
    <div class="swap_process_step" id="swap_process_load">
        <div class="explain">Please select the new filament material and press load.</div>
        <select class="select-material" data-bind="options: settings.temperature_profiles,
                       optionsText: 'name',
                       value: selectedTemperatureProfile,
                       optionsCaption: 'Choose material...'"></select>

        <ul class="button-area">
            <li class="button ok-button" id="unload_cmd" data-bind="click: doLoad, css: { disabled: !selectedTemperatureProfile() || isPreheating() || printerState.isLoading() || !loginState.loggedIn()}">
                <a href="#"><span><i class="fa fa-arrow-down"></i>Load</span></a>
            </li>
        </ul>
    </div>
    <div class="swap_process_step" id="swap_process_stopload">
        <div class="explain">Please insert the filament until it is grabbed by the extruder. Wait for the filament to be extruded before pressing done.</div>
          <ul class="button-area">
            <li class="button ok-button" id="unload_cmd" data-bind="click: doStopLoad, css: { disabled: isPreheating() || !loginState.loggedIn()}">
                <a href="#"><span><i class="fa fa-check"></i>Done</span></a>
            </li>
        </ul>
    </div>
    <div id="swap_process_status">
        <div id="swap_process_status_text" data-bind="if: currentStatus">
            <i data-bind="text: currentStatus"></i> <br />
            <img src="{{ url_for("plugin.lui.static", filename="img/dots32.gif") }}" />
        </div>

        <div id="swap_process_status_heating">
           
            <div class="Table">
                <div class="Table-row">
                    <div class="Table-item Table-item-grow-6">
                        <div class="progress progress-large">
                            <span style="width: 0%" data-bind="text: temperatureState.toolStatus()[toolNum()].text, style: { width: temperatureState.toolProgress()[toolNum()] + '%'}, css: temperatureState.toolStatus()[toolNum()].color"></span>
                            <span class="bg-none" data-bind="text: temperatureState.loadingText, style: {width: '100%'}"></span>
                        </div>
                    </div>
                    <div class="Table-item" style="text-align: right" ><span data-bind="text: temperatureState.tools()[toolNum()]['actual']"></span><span> &deg;C</span></div>
                    <div class="Table-item" >/ <b data-bind="text: temperatureState.tools()[toolNum()]['target']"></b><b> &deg;C</b></div>
                </div>
            </div> 

    </div>
</div>
    </div>