<!--Connection Settings -->
<div class="Table">
	<div class="Table-row Table-header">
		<div class="Table-item">
			{{ _('Connection') }}
		</div>
	</div>
	<div class="Table-row">
		<div class="Table-item">
			<label for="connection_ports" data-bind="css: {disabled: !printerState.isErrorOrClosed()}, enable: printerState.isErrorOrClosed() && loginState.isUser()">{{ _('Serial Port') }}</label>
			<select id="connection_ports" data-bind="options: portOptions, optionsCaption: 'AUTO', value: selectedPort, css: {disabled: !printerState.isErrorOrClosed()}, enable: printerState.isErrorOrClosed() && loginState.isUser()"></select>
		</div>
	</div>
	<div class="Table-row">
		<div class="Table-item">
			<label for="connection_baudrates" data-bind="css: {disabled: !printerState.isErrorOrClosed()}, enable: printerState.isErrorOrClosed() && loginState.isUser()">{{ _('Baudrate') }}</label>
			<select id="connection_baudrates" data-bind="options: baudrateOptions, optionsCaption: 'AUTO', value: selectedBaudrate, css: {disabled: !printerState.isErrorOrClosed()}, enable: printerState.isErrorOrClosed() && loginState.isUser()"></select>
		</div>
	</div>
	<div class="Table-row">
		<div class="Table-item">
			<label for="connection_printers" data-bind="css: {disabled: !printerState.isErrorOrClosed()}, enable: printerState.isErrorOrClosed() && loginState.isUser()">{{ _('Printer Profile') }}</label>
			<select id="connection_printers" data-bind="options: printerOptions, optionsText: 'name', optionsValue: 'id', value: selectedPrinter, css: {disabled: !printerState.isErrorOrClosed()}, enable: printerState.isErrorOrClosed() && loginState.isUser()"></select>
		</div>
	</div>
	<div class="Table-row">
		<div class="Table-item">
			{{ _('Save connection settings') }}
		</div>
		<div class="Table-item">
			<div class="check_toggle">
				<input type="checkbox" id="connection_save" data-bind="checked: saveSettings, css: {disabled: !printerState.isErrorOrClosed()}, enable: printerState.isErrorOrClosed() && loginState.isUser()">
				<label for="connection_save"></label>
			</div>
		</div>
	</div>
	<div class="Table-row">
		<div class="Table-item">
			{{ _('Auto-connect on server startup') }}
		</div>
		<div class="Table-item">
			<div class="check_toggle">
			    <input type="checkbox" id="connection_autoconnect" data-bind="checked: settings.serial_autoconnect, css: {disabled: !printerState.isErrorOrClosed()}, enable: printerState.isErrorOrClosed() && loginState.isUser()">
				<label for="connection_autoconnect"></label>
			</div>
		</div>
	</div>
	<div class="Table-row">
		<div class="Table-item">
			<ul class="button-area">
				<li class="button" id="printer_connect" data-bind="touchClick: function () { connect() }, enable: loginState.isUser()"><a href="#"><span data-bind="text: buttonText()">{{ _('Connect') }}</span></a></li>
			</ul>
		</div>
	</div>
</div>






