<!--TODO: Wrap in only for Bolt-->
<div class="bolt-bed-width-calibration-step" data-bind="visible: !calibrationProcessStarted()">
  <div class="Table">
    <div class="Table-row Table-header">
      <div class="Table-item">
        Extruder calibration
      </div>
    </div>
    <div class="Table-row">
      <div class="Table-item">
        Make sure the print bed is empty. Apply a print adhesive to the bed and press Start calibration.
      </div>
    </div>
    <div class="Table-row">
      <div class="Table-item">
        <ul class="button-area">
          <li class="button ok-button" data-bind="css: {disabled: !printerState.isOperational() || printerState.isPrinting() || !loginState.isUser()}, click: function() { startLargeExtruderCalibration()}">
            <a href="">
              <span>Start calibration</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="bolt-bed-width-calibration-step" data-bind="visible: calibrationProcessStarted() && !isPrintingCalibration() && !largeCalibrationCompleted()">
  <div class="Table">
    <div class="Table-row Table-header">
      <div class="Table-item">
        X-axis calibration
      </div>
    </div>
    <div class="Table-row">
      <div class="Table-item">
        <p data-bind="css: {disabled:  !printerState.isOperational() || printerState.isPrinting() || !loginState.isUser()}">Please indicate which line on the print bed is aligned best.</p>
      </div>
    </div>
    <div class="Table-row">
      <div class="Table-item">
        <ul class="width-calibrator" id="large-bed-width-correction"  data-bind="css: {disabled: !printerState.isOperational() || printerState.isPrinting() || !loginState.isUser()}">
          <li data-val="-5">
            <i>-5</i>
          </li>
          <li data-val="-4"></li>
          <li data-val="-3"></li>
          <li data-val="-2"></li>
          <li data-val="-1"></li>
          <li data-val="0">
            <i>0</i>
          </li>
          <li data-val="1"></li>
          <li data-val="2"></li>
          <li data-val="3"></li>
          <li data-val="4"></li>
          <li data-val="5">
            <i>+5</i>
          </li>
        </ul>
      </div>
    </div>
    <div class="Table-row">
      <div class="Table-item">
        <ul class="button-area">
          <li class="button" data-bind="css: {disabled: !printerState.isOperational() || printerState.isPrinting() || !loginState.isUser()}, click: function() { prepareSmallExtruderCalibration()}">
            <a href="">
              <span>Next</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="bolt-bed-width-calibration-step" data-bind="visible: calibrationProcessStarted() && !isPrintingCalibration() && largeCalibrationCompleted() && !smallCalibrationPrepared()">
  <div class="Table">
    <div class="Table-row Table-header">
      <div class="Table-item">
        Printing calibration pattern
      </div>
    </div>
    <div class="Table-row">
      <div class="Table-item">
        Make sure the print bed is empty. Apply a print adhesive to the bed and press next.
      </div>
    </div>
    <div class="Table-row">
      <div class="Table-item">
        <ul class="button-area">
          <li class="button" data-bind="css: {disabled: !printerState.isOperational() || printerState.isPrinting() || !loginState.isUser()}, click: function() { startSmallExtruderCalibration()}">
            <a href="">
              <span>Next</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="bolt-bed-width-calibration-step" data-bind="visible: calibrationProcessStarted() && !isPrintingCalibration() && smallCalibrationPrepared() && !smallXCalibrationCompleted()">
  <div class="Table">
    <div class="Table-row Table-header">
      <div class="Table-item">
        X-axis calibration
      </div>
    </div>
    <div class="Table-row">
      <div class="Table-item">
        <p  data-bind="css: {disabled:  !printerState.isOperational() || printerState.isPrinting() || !loginState.isUser()}">Please indicate which line on the print bed is aligned best horizontally.</p>
      </div>
    </div>
    <div class="Table-row">
      <div class="Table-item">

        <ul class="width-calibrator" id="small-bed-width-correction" data-bind="css: {disabled: !printerState.isOperational() || printerState.isPrinting() || !loginState.isUser()}">
          <li data-val="-5">
            <i>-5</i>
          </li>
          <li data-val="-4"></li>
          <li data-val="-3"></li>
          <li data-val="-2"></li>
          <li data-val="-1"></li>
          <li data-val="0">
            <i>0</i>
          </li>
          <li data-val="1"></li>
          <li data-val="2"></li>
          <li data-val="3"></li>
          <li data-val="4"></li>
          <li data-val="5">
            <i>+5</i>
          </li>
        </ul>
      </div>
    </div>
    <div class="Table-row">
      <div class="Table-item">
        <ul class="button-area">
          <li class="button" data-bind="click: function() {showSmallYCalibration()}">
            <a href="">
              <span>Next</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="bolt-bed-width-calibration-step" data-bind="visible: calibrationProcessStarted() && !isPrintingCalibration() && smallXCalibrationCompleted() ">
  <div class="Table">
    <div class="Table-row Table-header">
      <div class="Table-item">
        Y-axis calibration
      </div>
    </div>
    <div class="Table-row">
      <div class="Table-item">
        <p  data-bind="css: {disabled:  !printerState.isOperational() || printerState.isPrinting() || !loginState.isUser()}">Please indicate which line on the print bed is aligned best vertically.</p>
      </div>
    </div>
    <div class="Table-row">
      <div class="Table-item">

        <ul class="height-calibrator" id="y-axis-calibration" data-bind="css: {disabled: !printerState.isOperational() || printerState.isPrinting() || !loginState.isUser()}">
          <li data-val="-5">
            <i>-5</i>
          </li>
          <li data-val="-4"></li>
          <li data-val="-3"></li>
          <li data-val="-2"></li>
          <li data-val="-1"></li>
          <li data-val="0">
            <i>0</i>
          </li>
          <li data-val="1"></li>
          <li data-val="2"></li>
          <li data-val="3"></li>
          <li data-val="4"></li>
          <li data-val="5">
            <i>+5</i>
          </li>
        </ul>
      </div>
    </div>

    <div class="Table-row">
      <div class="Table-item">
        <ul class="button-area">
          <li class="button ok-button" data-bind="click: function() {saveCalibration()}">
            <a href="">
              <span>Save</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="bolt-bed-width-calibration-step" data-bind="visible: isPrintingCalibration(), with: printerState">

  <p>Please wait until the print has completed.</p>

  <div class="status_block print_progress" data-bind="visible: isPrinting() || isPaused()">
    <div class="Table">
      <div class="Table-row Table-header">
        <div class="Table-item">Print Status</div>
      </div>
      <div class="Table-row">
        <div class="Table-item">Status</div>
        <div class="Table-item Table-item-grow-5">
          <div class="progress progress-striped progress-animate">
            <span class="bg-main" style="width: 100%" data-bind="text: stateStepString, css: stateStepColor()"></span>
          </div>
        </div>
      </div>
      <div class="Table-row">
        <div class="Table-item">Total</div>
        <div class="Table-item Table-item-grow-5">
          <div class="progress">
            <span class="bg-main" data-bind="style: { width: progressString() + '%' }"></span>
          </div>
        </div>
      </div>

      <!--<div class="Table-item">
        <ul class="button-area">
          <li class="button" data-bind="click: pause, enable: enablePause, css: {active: isPaused()}, attr: {title: titlePauseButton}">
            <a href="#">
              <span data-bind="visible: !isPaused()">
                <i class="fa" data-bind="css: {'fa-pause': !isPaused(), 'fa-play': isPaused()}"></i> {{ _('Pause') }}
              </span>
              <span data-bind="visible: isPaused()">
                <i class="fa" data-bind="css: {'fa-pause': !isPaused(), 'fa-play': isPaused()}"></i> {{ _('Resume') }}
              </span>
            </a>
          </li>
        </ul>
      </div>-->

    </div>
  </div>
</div>
