<div id="languages">
	<div class="Table">
		<div class="Table-row Table-header">
			<div class="Table-item">
				{{ _('Languages') }}
			</div>
		</div>
		<!-- ko foreach: locales -->
		<div class="Table-row file_main" data-bind="click: function() { $root.appearance_defaultLanguage(language)}, css: { 'file_selected': $root.languageSelected($data) } ">
			<div class="Table-item">
				<span data-bind="text: display"></span>
			</div>
			<div class="Table-item file_status" data-bind="visible: language == LOCALE">
				<i class="fa fa-check file_ok"></i>
			</div>
		</div>
		<!-- /ko -->
	</div>
</div>