<div id="logs">
	<div class="Table">
		<div class="Table-row Table-header">
			<div class="Table-item">
				Log files
			</div>
			<div class="Table-item">
			  <div id="sort" class="file_sort">
			    <ul id="logs_menu" class="sort_menu">
			      <li>
			        <a href="#">
			          <i class="fa fa-list"></i>
			        </a>
			        <ul>
			          <li class="menu_label">
			            <span>
			              <i class="fa fa-sort"></i>
			              <strong>Sort by</strong>
			            </span>
			          </li>
			          <li>
			            <a href="" data-bind="click: function () { $root.listHelper.changeSorting('name'); }">Name</a>
			          </li>
			          <li>
			            <a href="" data-bind="click: function () { $root.listHelper.changeSorting('modification'); }">Changed date</a>
			          </li>
			        </ul>
			      </li>
			    </ul>
			  </div>
			</div>
		</div>
		<!-- ko foreach: listHelper.paginatedItems -->
		<div class="Table-row clickable" data-bind=" css: {disabled: !$root.loginState.isUser()">
		  <div class="Table-item Table-item-grow-8 text_wrap" data-bind="text: name"></div>
		  <div class="Table-item">
		  	<a href="#" class="fa fa-trash" data-bind="click: function() { if ($root.loginState.isUser()) { $parent.removeFile($data.name); } else { return; } }, css: {disabled: !$root.loginState.isUser()}, visible: name != 'octoprint.log'"></a>
		  </div>
		  {% if local_addr %}
			  <div class="Table-item">
			  	<a class="fa fa-usb" data-bind="click: function() { $parent.copyLogToUsb(name) } "></a>
			  </div>
		  {% else %}
		  <div class="Table-item">
		  	<a class="fa fa-download" data-bind="attr: {href: refs.download}"></a>
		  </div>
		  {% endif %}
		</div>
		<!-- /ko -->
		<div class="pagination pagination-mini pagination-centered"  data-bind="visible: listHelper.allSize() > 5">
		  <ul>
		    <li data-bind="css: {disabled: listHelper.currentPage() === 0}">
		      <a href="javascript:void(0)" data-bind="click: function () { listHelper.prevPage() }">«</a>
		    </li>
		  </ul>
		  <ul data-bind="foreach: listHelper.pages">
		    <li data-bind="css: { active: $data.number === $root.listHelper.currentPage(), disabled: $data.number === -1 }">
		      <a href="javascript:void(0)" data-bind="text: $data.text, click: function () { $root.listHelper.changePage($data.number); }"></a>
		    </li>
		  </ul>
		  <ul>
		    <li data-bind="css: {disabled: listHelper.currentPage() === listHelper.lastPage()}">
		      <a href="javascript:void(0)" data-bind="click: function () { listHelper.nextPage() }">»</a>
		    </li>
		  </ul>
		</div>
	</div>
</div>