<div id="maintenance_control" class="Table active">
  <div class="Table-header Table-row">
    <div class="Table-item">{{ _('Maintenance') }}</div>
  </div>
  <div class="Table-row">
    <div class="Table-item">
      <ul class="button-area">
        <li class="button" data-bind="click: function () { headMaintenancePosition() }">
          <a href="">
            <span>{{ _('Head maintenance position') }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="Table-row">
    <div class="Table-item">
      <ul class="button-area">
        <li class="button" data-bind="click: function () { cleanBedPosition() }">
          <a href="">
            <span>{{ _('Clean bed position') }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="Table-row">
    <div class="Table-item">
      <ul class="button-area">
        <li class="button" data-bind="click: function () { setFilamentAmount() } ">
          <a href="#">
            <span>{{ _('Set filament amount') }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  {% if model == "Bolt" or model.endswith("Debug") %} <!-- for now only available for Bolt -->
  <div class="Table-row">
    <div class="Table-item">
      <ul class="button-area">
        <li class="button" data-bind="click: function () { calibrateExtruders() }">
          <a href="#">
            <span>{{ _('Calibrate extruders') }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  {% endif %}
  <div class="Table-row">
    <div class="Table-item">
      <ul class="button-area">
        <li class="button" data-bind="click: function () { calibrateBed() }">
          <a href="#">
            <span>{{ _('Calibrate bed') }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="Table-row">
    <div class="Table-item">
      <ul class="button-area">
        <li class="button">
          <a href="#" data-bind="click: function () { beginPurgeWizard('tool1'); }, css: {disabled: filament.leftFilament() == 'None' || printerState.isPrinting || !printerState.isOperational() || !loginState.loggedIn() } ">
            <span>
              <i class="fa fa-arrow-down"></i>{{ _('Purge left') }}</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="Table-item">
      <ul class="button-area">
        <li class="button">
          <a href="#" data-bind="click: function () { beginPurgeWizard('tool0'); }, css: {disabled: filament.rightFilament() == 'None' || printerState.isPrinting || !printerState.isOperational() || !loginState.loggedIn() }">
            <span>
              <i class="fa fa-arrow-down"></i>{{ _('Purge right') }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

