<div id="maintenance_control" class="Table active">
  <div class="Table-header Table-row">
    <div class="Table-item">Maintenance</div>
  </div>
  {% if model == "Xeed" %}
  <div class="Table-row">
    <div class="Table-item">
      <ul class="button-area">
        <li class="button" data-bind="click: startLevelBed">
          <a href="">
            <span>Level bed</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="Table-item">
      <ul class="button-area">
        <li class="button" data-bind="click: startZoffset ">
          <a href="">
            <span>Z-offset wizard</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  {% endif %}
  <div class="Table-row">
    <div class="Table-item">
      <ul class="button-area">
        <li class="button" data-bind="click: filamentLoadPosition">
          <a href="">
            <span>Head maintenance position</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="Table-row">
    <div class="Table-item">
      <ul class="button-area">
        <li class="button" data-bind="click: cleanBedPosition">
          <a href="">
            <span>Clean bed position</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="Table-row">
    <div class="Table-item">
      <ul class="button-area">
        <li class="button" data-bind="click: setFilamentAmount">
          <a href="#">
            <span>Set filament amount</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="Table-row">
    <div class="Table-item">
      <ul class="button-area">
        <li class="button">
          <a href="#" data-bind="click: function() { beginPurgeWizard('tool1'); }, css: {disabled: filament.leftFilament() == 'None' || printerState.isPrinting || !printerState.isOperational() || !loginState.loggedIn() || filamentInProgress()} ">
            <span>
              <i class="fa fa-arrow-down"></i>Purge left</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="Table-item">
      <ul class="button-area">
        <li class="button">
          <a href="#" data-bind="click: function() { beginPurgeWizard('tool0'); }, css: {disabled: filament.rightFilament() == 'None' || printerState.isPrinting || !printerState.isOperational() || !loginState.loggedIn() || filamentInProgress()}">
            <span>
              <i class="fa fa-arrow-down"></i>Purge right</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- Start Filament Settings --> 
<!-- ko allowBindings: false -->
<div id="maintenance_filament" class="Table">
  <div class="Table-header Table-row">
    <div class="Table-item">Filament settings</div>
  </div>
  <div class="Table-row">
    <div class="Table-item">
      <select class="select-material" data-bind="options: 
                      materialProfiles,
                      optionsText: 'name',
                      value: updateLeftTemperatureProfile,
                      optionsCaption: 'Choose material...'">
      </select>
    </div>
    <div class="Table-item">
      <select class="select-material" data-bind="options: 
                      materialProfiles,
                      optionsText: 'name',
                      value: updateRightTemperatureProfile,
                      optionsCaption: 'Choose material...'">
      </select>
    </div>
  </div>
  <div class="Table-row">
    <div class="Table-item">Amount: </div>
    <div class="Table-item"><input type="number" data-bind="value: updateLeftAmount"></div>
    <div class="Table-item">Amount: </div>
    <div class="Table-item"><input type="number" data-bind="value: updateRightAmount"></div>
  </div>
  <div class="Table-row">
    <div class="Table-item">
      <ul class="button-area">
        <li class="button">
          <a href="#" data-bind="click: function() {updateFilament('tool1', updateLeftAmount())}">
            <span>
              <i class="fa fa-refresh"></i>Update left</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="Table-item">
      <ul class="button-area">
        <li class="button">
          <a href="#" data-bind="click: function() {updateFilament('tool0', updateRightAmount())}">
            <span>
              <i class="fa fa-refresh"></i>Update right</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- /ko -->
<!-- /Filament settings -->
