<div class="Table">
    <div class="Table-row Table-header">
        <div class="Table-item Table-item-grow-2">
          <span style="width: 100%; text-align: left;">Material</span>
        </div>
        <div class="Table-item Table-item-grow-2">
          <span style="width: 100%; text-align: center;">Extruder</span>
        </div>
        <div class="Table-item Table-item-grow-2">
          <span style="width: 100%; text-align: center;">Bed</span>
        </div>
        <div class="Table-item">(&deg;C)</div>
    </div>
    {% if local_addr %}
    <!-- ko keyboardForeach: settings.temperature_profiles -->
    {% else %}
    <!-- ko foreach: settings.temperature_profiles -->
    {% endif %}
  <div class="Table-row" data-bind="css: {disabled: $parent.disableRemove($data)}">
        <div class="Table-item profile_name">
            <input type="text" data-bind="value: name">
        </div>
        <div class="Table-item extruder_temp">
            <input type="number" data-bind="value: extruder">
        </div>
        <div class="Table-item bed_temp">
            <input type="number" data-bind="value: bed">
        </div>
        <div class="Table-item">
            <ul class="button-area">
                <li class="button failed-button"><a href="#delete" data-bind="click: $parent.settings.removeTemperatureProfile"><span data-bind="text: $root.materialButtonText($data)"></span></a></li>
            </ul>
        </div>
    </div>
    <!-- /ko -->
  
</div>
<ul class="button-area">
    <li class="button"><a href="#save" data-bind="click: settings.addTemperatureProfile"><span><i class="fa fa-plus"></i>Add profile</span></a>
</ul>   
