<div id="rgb_lighting">
    <div class="Table">
        <div id="rgb-light-list" class="Table active" data-bind="visible: !editColorVisible()">
        <div class="Table-header">
            {{ _('Select color pattern') }}
        </div> 
          <div class="Table-row">
              {{ _('Startup Color') }}
            <div class="Table-item Table-item-right">
              <span data-bind="text: idle_color"></span>
            </div>
            <div class="Table-item" style="flex-basis: 40px; max-width: 100px;">
              <a href="#" data-bind="touchClick: $root.editColor">
                <span><i class="fa fa-pencil"></i>{{ _(' Edit') }}</span>
              </a>
            </div>
          </div>
          <div class="Table-row">
              {{ _('Idle Color') }}
            <div class="Table-item Table-item-right">
              <span data-bind="text: idle_color"></span>
            </div>
            <div class="Table-item" style="flex-basis: 40px; max-width: 100px;">
              <a href="#" data-bind="touchClick: function() { editColor('idle'); }">
                <span><i class="fa fa-pencil"></i>{{ _(' Edit') }}</span>
              </a>
            </div>
          </div>
          <div class="Table-row">
              {{ _('Printing Color') }}
            <div class="Table-item Table-item-right">
              <span data-bind="text: idle_color"></span>
            </div>
            <div class="Table-item" style="flex-basis: 40px; max-width: 100px;">
              <a href="#" data-bind="touchClick: function() { editColor('printing'); }">
                <span><i class="fa fa-pencil"></i>{{ _(' Edit') }}</span>
              </a>
            </div>
          </div>
          <div class="Table-row">
              {{ _('Finished Color') }}
            <div class="Table-item Table-item-right">
              <span data-bind="text: idle_color"></span>
            </div>
            <div class="Table-item" style="flex-basis: 40px; max-width: 100px;">
              <a href="#" data-bind="touchClick: function() { editColor('finished'); }">
                <span><i class="fa fa-pencil"></i>{{ _(' Edit') }}</span>
              </a>
            </div>
          </div>
          <div class="Table-row">
              {{ _('heating Color') }}
            <div class="Table-item Table-item-right">
              <span data-bind="text: idle_color"></span>
            </div>
            <div class="Table-item" style="flex-basis: 40px; max-width: 100px;">
              <a href="#" data-bind="touchClick: function() { editColor('heating'); }">
                <span><i class="fa fa-pencil"></i>{{ _(' Edit') }}</span>
              </a>
            </div>
          </div>
          <div class="Table-row">
              {{ _('Paused Color') }}
            <div class="Table-item Table-item-right">
              <span data-bind="text: idle_color"></span>
            </div>
            <div class="Table-item" style="flex-basis: 40px; max-width: 100px;">
              <a href="#" data-bind="touchClick: function() { editColor('paused'); }">
                <span><i class="fa fa-pencil"></i>{{ _(' Edit') }}</span>
              </a>
            </div>
          </div>
          <div class="Table-row">
              {{ _('Error Color') }}
            <div class="Table-item Table-item-right">
              <span data-bind="text: idle_color"></span>
            </div>
            <div class="Table-item" style="flex-basis: 40px; max-width: 100px;">
              <a href="#" data-bind="touchClick: function() { editColor('error'); }">
                <span><i class="fa fa-pencil"></i>{{ _(' Edit') }}</span>
              </a>
            </div>
          </div>
        </div>
        <div id="rgb-light-list" class="Table" data-bind="visible: editColorVisible()">
          <div class="Table-row ">
            <div class="Table-item">
              {{ _('Red:') }}
            </div>
            <div class="Table-item">
              <input type="range" data-bind="value: color.red" />
            </div>
          </div>
          <div class="Table-row ">
            <div class="Table-item">
              {{ _('Green:') }}
            </div>
            <div class="Table-item">
              <input type="range" data-bind="value: color.green" />
            </div>
          </div>
          <div class="Table-row ">
            <div class="Table-item">
              {{ _('Blue:') }}
            </div>
            <div class="Table-item">
              <input type="range" data-bind="value: color.blue" />
            </div>
          </div>
          <div class="Table-row ">
            <div class="Table-item">
              {{ _('White:') }}
            </div>
            <div class="Table-item">
              <input type="range" data-bind="value: color.white" />
            </div>
          </div>
          <div class="Table-row ">
            <div class="Table-item">
              <select class="select-pattern" data-bind="
                            css: { disabled: target() > 0 },
                            options:  $root.rgbstatus.pattern,
                            optionsValue: 'name',
                            optionsText: 'name',
                            value: rgbstatus.patternName">
              </select>
            </div>
          </div>
        <div class="Table-row">
          <div class="Table-item">
            <ul class="button-area">
              <li class="button secondary-button" data-bind="touchClick: preview">
                <a href="#">
                  <span>{{ _('Preview Color') }}</span>
                </a>
              </li>
            </ul>
          </div>
            <div class="Table-item">
              <ul class="button-area">
                <li class="button secondary-button" data-bind="touchClick: defaultColorsetting">
                  <a href="#">
                    <span>{{ _('Set Default') }}</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="Table-row ">
            <div class="Table-item">
              <ul class="button-area">
                <li class="button secondary-button" data-bind="touchClick: cancelColorsetting">
                  <a href="#">
                    <span>{{ _('Back') }}</span>
                  </a>
                </li>
              </ul>
            </div>

            <div class="Table-item">
              <ul class="button-area">
                <li class="button" data-bind="touchClick: saveColorsetting">
                  <a href="#">
                    <span>{{ _('Save') }}</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <ul class="button-area">
        <li class="button">
          <a href="#default" data-bind="touchClick: function () { setDefaultColors() }">
            <span>{{ _('Set all to Default') }}</span>
          </a>
        </li>
      </ul>
</div>
