<div id="tutorials">
    <div class="Table">
        <div class="Table-row Table-header">
            <div class="Table-item">
                {{ _('Tutorials') }}
            </div>
        </div>
        <div class="tutorial_topic">
            <ul class="tutorial_main"
                data-bind="css: { disabled: printerState.isPaused() || printerState.isPrinting() }">
                <li class="tutorial_name">
                    <a href="#topic">
                        <span>{{ _('Your First Print') }}</span>
                    </a>
                </li>
                <li class="tutorial-start" data-bind="click: function () { startTutorial('firstPrint') }">
                    <a href="#">
                        <i class="fa fa-play"></i>
                    </a>
                </li>
                <li class="tutorial-add-info" data-bind="click: function () { toggleTutorialInfo($data) }">
                    <a href="#">
                        <i class="fa fa-info-circle"></i>
                    </a>
                </li>
            </ul>
            <div class="tutorial-info hide">
                <span>{{ _('The tutorial will guide you through the steps you have to take to print your first print.') }}
                    <br>{{ _('- Duration: 20 min -') }}</span>
            </div>
        </div>
    </div>
</div>
