<div id="update">
  <div class="Table" data-bind="css: {disabled: refreshing()}">
    {% if debug_lui %}
    <div class="Table-row Table-header">
      <div class="Table-item Table-item-grow-5">
        {{ _('Version information') }}
      </div>
      <div class="Table-item Table-item-grow-3 text_wrap">
          <span data-bind="text: modelName"  style="margin-left: auto;"></span>
      </div>
      <div class="Table-item">
        <span style="margin-left: auto;">
          <i id="change_log_info" class="fa fa-info-circle" style="padding: 0.4em;" data-bind="touchClick: function () { showChangelogFlyout(true) }"></i>
        </span>      
      </div>
      <div class="Table-item">
        <span style="margin-left: auto;">
          <i id="update_spinner" class="fa fa-refresh" style="padding: 0.4em;" data-bind="touchClick: function () { refreshUpdateInfo() }"></i>
        </span>
      </div>
    </div>
    <!-- ko foreach: updateinfo -->
    <div class="Table-row">
      <div class="Table-item Table-item-grow-4" data-bind="text: name" style="text-overflow: ellipsis">
      </div>
      <div class="Table-item text_wrap" data-bind="text: version">
      </div>
      <div class="Table-item Table-item-grow-3">
        <ul class="button-area">
          <li class="button" data-bind="css: $root.getUpdateButtonClass($data), touchClick: function () {$root.update($data)}">
            <a href="">
              <span data-bind="text: $root.getUpdateText($data)"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- /ko -->
    {% else %}
    <div class="Table-row Table-header">
      <div class="Table-item Table-item-grow-5">
        {{ _('Software') }}
      </div>
        <div class="Table-item Table-item-grow-3 text_wrap">
          <span data-bind="text: modelName"  style="margin-left: auto;"></span>
      </div>
      <div class="Table-item">
        <span style="margin-left: auto;">
          <i id="change_log_info" class="fa fa-info-circle" style="padding: 0.4em;" data-bind="touchClick: function () { showChangelogFlyout(true) }"></i>
        </span>      
      </div>
      <div class="Table-item">
        <span style="margin-left: auto;">
          <i id="update_spinner" class="fa fa-refresh" style="padding: 0.4em;" data-bind="touchClick: function () { refreshUpdateInfo() }"></i>
        </span>
      </div>
    </div>
    <div class="Table-row">
      <div class="Table-item Table-item-grow-4" style="text-overflow: ellipsis">
        {{ _('Leapfrog software') }}
      </div>
      <div class="Table-item text_wrap" data-bind="text: currentLuiVersion">
      </div>
      <div class="Table-item Table-item-grow-3">
        <ul class="button-area">
          <li class="button" data-bind="css: getUpdateAllButtonClass, touchClick: function () { update('all'); }">
            <a href="">
              <span data-bind="text: getUpdateAllText"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    {% endif %}
  </div>
  <div id="flash_arduino" data-bind="with: flashArduino">
    <div class="Table" data-bind="css: {disabled: $parent.firmwareRefreshing() || $parent.firmwareUpdating()}">
      <div class="Table-row Table-header">
        <div class="Table-item">
          {{ _('Firmware') }}
        </div>
        <div class="Table-item">
          <span style="margin-left: auto;">
            <i id="firmware_update_spinner" class="fa fa-refresh" style="padding: 0.4em;" data-bind="touchClick: function () { $parent.refreshFirmwareUpdateInfo() }"></i>
          </span>
        </div>
      </div>
      <div class="Table-row">
        <div class="Table-item Table-item-grow-4">
          {{ _('Current version:') }}
        </div>
        <div class="Table-item text_wrap" data-bind="text: $parent.firmwareVersion">
        </div>
        <div class="Table-item Table-item-grow-3">
          <ul class="button-area">
            <li class="button" data-bind="css: $parent.getFirmwareUpdateButtonClass(), touchClick: function () {$parent.firmwareUpdate()}">
              <a href="">
                <span data-bind="text: $parent.getFirmwareUpdateText()"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Table" data-bind="css: {disabled: $parent.firmwareUpdating()}">
      <div class="Table-row Table-header">
        <div class="Table-item">
          Manually update firmware
        </div>
      </div>
      <div class="Table-row">
        <div class="Table-item">
          {%  if local_addr -%}
          <ul class="button-area">
            <li class="button secondary-button fileinput-button" data-bind="touchClick: function () { $parent.browseForFirmware() }, css: { disabled: !$parent.files.isUsbAvailable() }">
              <a href="#">
                <span>{{ _('Browse USB drive for firmware') }}</span>
            </a>
            </li>
          </ul>
          {%- endif %}
          {%  if not local_addr or debug_lui -%}
          <ul class="button-area">
            <li class="button secondary-button fileinput-button">
              <a href="#">
                <span>{{ _('Upload firmware') }}</span>
                <input id="settings-flash-arduino" type="file" accept=".hex" name="file" data-url="{{ url_for('plugin.flasharduino.flash_hex_file_from_post')}}" />
              </a>
            </li>
          </ul>
          {%- endif %}
        </div>
      </div>
      <div class="Table-row" data-bind="visible: $parent.fileNameToFlash">

        <div class="Table-item Table-item-grow-5 Table-ellipsis">
          <span data-bind="text: $parent.fileNameToFlash"></span>
        </div>
        <div class="Table-item Table-item-grow-3">
          <ul class="button-area">
            <li id="settings-flash-arduino-start" class="button" data-bind="css: {disabled: !flash_enable()}">
              <a href="#">
                <span>
                  <i class="fa fa-upload"></i>Flash
                </span>
              </a>
            </li>
          </ul>
        </div>

      </div>
      <div class="Table-row">
        <div class="Table-item">
          <div class="progress">
            <span id="flash_read_progress" class="bg-none" style="width: 100%">{{ _('Reading') }}</span>
          </div>
          <div class="progress">
            <span id="flash_write_progress" class="bg-none" style="width: 100%">{{ _('Writing') }}</span>
          </div>
          <div class="progress">
            <span id="flash_verify_progress" class="bg-none" style="width: 100%">{{ _('Verify') }}</span>
          </div>
          <div class="progress">
            <span id="flash_done_progress" class="bg-none" style="width: 100%">{{ _('Done')}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
