<div id="settings_plugin_networkmanager">
	<div id="networkmanager_connections" class="Table">
		<div class="Table-row Table-header">
			<div class="Table-item Table-item-grow-8">
				Wifi
			</div>
			<div class="Table-item">
				<i class="fa fa-wifi"></i>
			</div>
			<div class="Table-item">
				<i class="fa fa-signal"></i>
			</div>
			<div class="Table-item">
				<i class="fa fa-key"></i>
			</div>
		</div>
		<!-- ko foreach: listHelper.paginatedItems -->
		<div class="Table-row">
			<div class="Table-item Table-item-grow-8 text_wrap" data-bind="text: ssid"></div>
			<div class="Table-item">
				<i class="fa fa-check" data-bind="css: {disabled: $root.getEntryId($data) == $root.statusCurrentWifi()}"></i>
			</div>
			<div class="Table-item" data-bind="text: signal"></div>
			<div class="Table-item">
				<i class="fa fa-lock"></i>
			</div>
		</div>
		<!-- /ko -->
		<div class="Table-row Table-header">
			<div class="Table-item">
				Wired
			</div>
		</div>
		<div class="Table-row">
			<div class="Table-item">
				Disconnected
			</div>
		</div>
	</div>
	<div id="networmanager_connect">
		<div class="Table">
			<div class="Table-row Table-header">
				<div class="Table-item">
					Connect to Wifi Network
				</div>
			</div>
			<div class="Table-row ">
				<div class="Table-item">
					SSID:
				</div>
				<div class="Table-item">
					<input type="text" placeholder="Leapfrog" value=""></input>
				</div>
			</div>
			<div class="Table-row ">
				<div class="Table-item">
					Password:
				</div>
				<div class="Table-item">
					<input type="password"></input>
				</div>
			</div>
			<div class="Table-row ">
				<div class="Table-item">
					Re-type password:
				</div>
				<div class="Table-item">
					<input type="password"></input>
				</div>
			</div>
			<div class="Table-row">
				<div class="Table-item">
					<ul class="button-area">
						<li class="button secondary-button"><a href=""><span>Back</span></a></li>
					</ul>
				</div>
				<div class="Table-item">
					<ul class="button-area">
						<li class="button"><a href=""><span>Connect</span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>