<div id="settings_plugin_networkmanager">
	<div id="networkmanager_connections" class="Table active">
		<div class="Table-row Table-header">
			<div class="Table-item Table-item-grow-8">
				Wifi
			</div>
			<div class="Table-item">
				<span data-bind="text: status.wifi.ip"></span>
			</div>
			<div class="Table-item">
				<i class="fa fa-wifi"></i>
			</div>
			<div class="Table-item">
				<i class="fa fa-signal"></i>
			</div>
			<div class="Table-item">
				<i class="fa fa-key"></i>
			</div>
		</div>
		<!-- ko foreach: listHelper.paginatedItems -->
		<div class="Table-row" data-bind="click: function() { $parent.configureWifi($data); }, css: {disabled: !$root.loginState.isUser() || $root.working() || $root.error() || $root.getEntryId($data) == $root.statusCurrentWifi()}">
			<div class="Table-item Table-item-grow-8 text_wrap" data-bind="text: ssid"></div>
			<div class="Table-item">
				<i class="fa" data-bind="css: $root.isActive($data)"></i>
			</div>
			<div class="Table-item" data-bind="text: signal"></div>
			<div class="Table-item">
				<i class="fa" data-bind="css: $root.isEncrypted($data)"></i>
			</div>
		</div>
		<!-- /ko -->
		<div class="Table-row Table-header">
			<div class="Table-item">
				Wired
			</div>
			<div class="Table-item">
				<span data-bind="text: status.ethernet.ip"></span>
			</div>
		</div>
		<div class="Table-row">
			<div class="Table-item" data-bind="text: ethernetConnectionText"></div>
		</div>
		<div class="Table-row">
			<div class="Table-item">
				<ul class="button-area">
					<li class="button" data-bind="click: function() {sendWifiRefresh(true)}, css: {disabled: working || error }"><a href=""><span>Rescan</span></a></li>
				</ul>
			</div>
			<div class="Table-item">
				<ul class="button-area">
					<li class="button" data-bind="click: sendWifiDisconnect, css: {disabled: !status.connection.wifi}"><a href=""><span>Disconnect</span></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="networkmanager_connect" class="Table">
		<div class="Table-row Table-header">
			<div class="Table-item">
				Connect to Wifi Network
			</div>
		</div>
		<div class="Table-row ">
			<div class="Table-item">
				SSID:
			</div>
			<div class="Table-item">
				<input type="text" placeholder="Leapfrog" data-bind="value: editorWifiSsid"></input>
			</div>
		</div>
		<div class="Table-row">
			<div class="Table-item">
				Password:
			</div>
			<div class="Table-item">
				<input type="text" data-bind="value: editorWifiPassphrase1"></input>
			</div>
		</div>
		<div class="Table-row">
			<div class="Table-item">
				<ul class="button-area">
					<li class="button secondary-button" data-bind="click: cancelWifiConfiguration"><a href=""><span>Back</span></a></li>
				</ul>
			</div>
			<div class="Table-item">
				<ul class="button-area">
					<li class="button" data-bind="click: confirmWifiConfiguration"><a href=""><span>Connect</span></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>