/* 
  Color Variables 
*/
/* 
  Font face
*/
@font-face {
  font-family: agenda-light;
  src: url(../fonts/agenda-light.ttf);
  font-weight: light; }
@font-face {
  font-family: agenda-medium;
  src: url(../fonts/agenda-medium.ttf);
  font-weight: medium; }
@font-face {
  font-family: agenda-bold;
  src: url(../fonts/agenda-bold.ttf);
  font-weight: bold; }
/* 
  Mixins
*/
/* Design CSS */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  font-size: 0.89em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.clearfix:after {
  content: "";
  clear: both;
  display: table; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

body {
  font-family: agenda-medium, sans-serif;
  margin: 0;
  font-size: 1.5rem; }

a {
  color: #ffffff;
  text-decoration: none; }

.app-wrap {
  height: 100vh; }

.bold {
  font-weight: 700 !important; }

.content {
  padding: 10px;
  background: white;
  box-shadow: inset 0 5px 0 rgba(0, 0, 0, 0.1);
  line-height: 1.6; }

.text_wrap {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.visibleflex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.icon-bar a {
  text-align: center;
  font-size: 1em;
  padding: 1rem;
  background: #434A54;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.icon-bar a:first-child {
  border-left: 0; }

.icon-bar a:hover {
  background-color: #ffffff;
  color: #434A54; }

.icon-bar a:hover i {
  color: #434A54; }

.icon-bar .active, .icon-bar .active i {
  background-color: #ffffff;
  color: #434A54; }

.icon-bar {
  border-top: 3px solid #FF9734; }

.icon-bar i {
  display: block;
  font-size: 2.5rem;
  color: #ffffff;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  padding-right: 0.5em; }

.app-header {
  background: #434A54;
  color: #ffffff;
  padding: 1rem; }

.button-area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%; }

.button-area ul {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.button-area .button {
  border: 1px solid #434A54;
  border-radius: 1px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #434A54; }

.button-area .button a {
  color: #ffffff;
  padding: 10px 5px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }

.button-area .button a:active {
  background-color: #ffffff;
  color: #434A54; }

.button-area .secondary-button {
  background-color: #ffffff; }

.button-area .secondary-button a {
  color: #434A54; }

.button-area .secondary-button a:active {
  color: #ffffff;
  background-color: #434A54; }

.button-area .ok-button {
  background-color: #A9CC3C;
  border: 1px solid #A9CC3C; }

.button-area .failed-button {
  background-color: #CC2B14;
  border: 1px solid #CC2B14; }

.button-area .ok-button a, .button-area .failed-button a {
  color: #ffffff; }

.button-area .ok-button a:active, .button-area .failed-button a:active {
  color: #434A54;
  background-color: #ffffff; }

.button-area i, h4 i, .icon-text i {
  padding-right: 0.4em; }

.title {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  border-bottom: 2px solid #FF9734;
  height: 1.8em; }

/*
 Stop light
*/
#stop-light .light-red:hover {
  fill: #FF6B3D; }

#stop-light .light-orange:hover {
  fill: #FAD83A; }

#stop-light .light-green:hover {
  fill: #6FFF3A; }

#slider_wrapper {
  padding: 10px 0px; }

/*
  Overall Layout
*/
.app-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.app-wrap > * {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

/*
  Header
*/
.app-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-basis: 45px;
      -ms-flex-preferred-size: 45px;
          flex-basis: 45px;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  min-height: 45px; }

.app-header .header_login {
  margin-left: auto; }

/*
  Tabs
*/
.tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1; }

.tab {
  display: none;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  height: 200px;
  overflow-y: auto; }

.open {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

/*
  Content
*/
.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.content > * {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  min-width: 0; }

/* 
  Overlay & Fly out

*/
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 1; }
  .overlay.active {
    opacity: 1;
    display: block; }

.flyout {
  background-color: #ffffff;
  bottom: 0;
  height: 100%;
  max-width: 500px;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
  width: 80%;
  -webkit-transition: transform 0.2s ease-in-out;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1; }
  .flyout.active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  .flyout a {
    color: #434A54; }

.flyout_content {
  display: none; }
  .flyout_content.active {
    display: inline-block; }

.flyout-header {
  background-color: #434A54;
  color: white;
  padding: 0.5em;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  min-height: 0px; }
  .flyout-header h4 {
    display: inline-block;
    margin: 0; }

.flyout-body {
  overflow-y: auto;
  padding: 1em;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.flyout-body > * {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  min-width: 0; }

.flyout-close {
  cursor: pointer;
  float: right; }

.disabled {
  pointer-events: none;
  opacity: 0.4; }

.hide {
  display: none; }

/* 
  Circles
*/
.circle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-basis: 33%;
      -ms-flex-preferred-size: 33%;
          flex-basis: 33%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px; }

.circle_text ul {
  margin-top: -100px;
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.circle > * {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }

.circle canvas {
  -webkit-flex-basis: 130px;
      -ms-flex-preferred-size: 130px;
          flex-basis: 130px; }

.target_temp {
  font-size: 0.9em;
  color: #aaa; }

/*
  Icon Bar 
*/
.icon-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.icon-bar a {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #ffffff; }

/*   
  Button-area 
*/
.button-area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.button-area li {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  text-align: center;
  min-height: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.button-area a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.button-area span {
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center; }

/* 
  Table
*/
.Table {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #f2f2f2;
  margin: 10px 0px;
  line-height: 1.5; }
  .Table-header {
    font-weight: 700;
    background-color: #f2f2f2;
    border-bottom: 1px solid #FF9734; }
  .Table-row {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-width: 0; }
  .Table-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    min-width: 0;
    padding: 0.3em 0.1em;
    word-break: break-word;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }
    .Table-item:before {
      width: 30%;
      font-weight: 700; }
  .Table-nested {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0; }

.Table-item-grow-1 {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.Table-item-grow-2 {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2; }

.Table-item-grow-3 {
  -webkit-box-flex: 3;
  -webkit-flex-grow: 3;
      -ms-flex-positive: 3;
          flex-grow: 3; }

.Table-item-grow-4 {
  -webkit-box-flex: 4;
  -webkit-flex-grow: 4;
      -ms-flex-positive: 4;
          flex-grow: 4; }

.Table-item-grow-5 {
  -webkit-box-flex: 5;
  -webkit-flex-grow: 5;
      -ms-flex-positive: 5;
          flex-grow: 5; }

.Table-item-grow-6 {
  -webkit-box-flex: 6;
  -webkit-flex-grow: 6;
      -ms-flex-positive: 6;
          flex-grow: 6; }

.Table-item-grow-7 {
  -webkit-box-flex: 7;
  -webkit-flex-grow: 7;
      -ms-flex-positive: 7;
          flex-grow: 7; }

.Table-item-grow-8 {
  -webkit-box-flex: 8;
  -webkit-flex-grow: 8;
      -ms-flex-positive: 8;
          flex-grow: 8; }

.Table-item-grow-9 {
  -webkit-box-flex: 9;
  -webkit-flex-grow: 9;
      -ms-flex-positive: 9;
          flex-grow: 9; }

.Table-item-grow-10 {
  -webkit-box-flex: 10;
  -webkit-flex-grow: 10;
      -ms-flex-positive: 10;
          flex-grow: 10; }

.fa {
  position: relative; }

.badge {
  font-size: .25em;
  font-family: Agenda-Medium;
  font-weight: 700;
  display: block;
  position: absolute;
  top: -1.5em;
  right: -2.2em;
  width: 2em;
  height: 2em;
  line-height: 2.2em;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  background: #be0000; }

/*
 Pagination (multiple pages)
*/
.pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin: 10px 0; }
  .pagination > ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
    .pagination > ul > li {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
          -ms-flex: 1 1 auto;
              flex: 1 1 auto;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .pagination > ul > li > a,
      .pagination > ul > li > span {
        position: relative;
        float: left;
        padding: 4px 12px;
        line-height: 20px;
        text-decoration: none;
        color: #434A54;
        background-color: #ffffff;
        border: 1px solid #dddddd;
        margin-left: -1px; }
      .pagination > ul > li:first-child > a,
      .pagination > ul > li:first-child > span {
        margin-left: 0;
        border-left-width: 1px; }
      .pagination > ul > li:last-child > a,
      .pagination > ul > li:last-child > span {
        border-right-radius: 1px; }
    .pagination > ul > li > a:hover, .pagination > ul > li > a:focus,
    .pagination > ul > li > span:hover,
    .pagination > ul > li > span:focus {
      z-index: 2;
      color: #ffffff;
      background-color: #434A54;
      border-color: #dddddd; }
    .pagination > ul > .active > a, .pagination > ul > .active > a:hover, .pagination > ul > .active > a:focus,
    .pagination > ul > .active > span,
    .pagination > ul > .active > span:hover,
    .pagination > ul > .active > span:focus {
      z-index: 3;
      color: #434A54;
      background-color: #ffffff;
      border-color: #434A54;
      cursor: default; }
    .pagination > ul > .disabled > span,
    .pagination > ul > .disabled > span:hover,
    .pagination > ul > .disabled > span:focus,
    .pagination > ul > .disabled > a,
    .pagination > ul > .disabled > a:hover,
    .pagination > ul > .disabled > a:focus {
      color: #999999;
      background-color: #ffffff;
      border-color: #dddddd;
      cursor: default; }

/* 
  Control 
*/
#control .content
.control-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-dirextion: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; }

.control-container > * {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%; }

.controls {
  fill: #434A54; }

.controls:active {
  fill: #ffffff;
  stroke-width: 2;
  stroke: #434A54; }

.control-home {
  fill: #ffffff;
  stroke: #434A54;
  stroke-width: 2; }

.control-home:active {
  fill: #434A54; }

.controls:active .arrows {
  fill: #434A54;
  stroke: #434A54; }

.control-extrusion {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.control-extrusion .extruder {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%; }

.control-extrusion .extruder.active {
  border: 2px solid #A9CC3C; }

.arrows {
  fill: none;
  stroke: #ffffff;
  stroke-width: 3; }

/*
  filament
*/
.spool {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 50%;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.spool > * {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%; }

.bg-main {
  background-color: #434A54 !important; }

.bg-orange {
  background-color: #FF9734 !important; }

.bg-green {
  background-color: #A9CC3C !important; }

.bg-yellow {
  background-color: #EDDB53 !important; }

.bg-red {
  background-color: #CC2B14 !important; }

.bg-none {
  background-color: transparent !important;
  color: #434A54 !important; }

.progress {
  background-color: #f2f2f2;
  color: #fff;
  box-sizing: initial;
  position: relative;
  text-align: center;
  font-size: 0.9em;
  height: 1.5em;
  width: 100%; }

.progress-small {
  font-size: 9px;
  font-size: 0.5625rem;
  height: 6px;
  line-height: 0.875; }

.progress-large {
  font-size: 16px;
  font-size: 1rem;
  height: 25px;
  line-height: 1.7; }

.progress > span {
  background-color: #434A54;
  display: block;
  height: 100%;
  overflow: hidden;
  position: relative;
  float: left; }

.progress.progress-stacked > span {
  display: inline-block;
  float: left; }

.progress-striped > span:after, .progress-striped > span > span {
  background-size: 50px 50px;
  bottom: 0;
  content: "";
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  -ms-background-size: 50px 50px;
  -o-background-size: 50px 50px;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, rgba(255, 255, 255, 0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.75, rgba(255, 255, 255, 0.2)), color-stop(0.75, transparent), to(transparent));
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent); }

.progress-striped.progress-animate > span:after, .progress-striped.progress-animate > span > span {
  -webkit-animation: move 2s linear infinite;
  animation: move 2s linear infinite; }

@-webkit-keyframes move {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 50px 50px; } }

@keyframes move {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 50px 50px; } }
/*
  #Status
*/
/* 
  Settings tab
*/
.settings_topic {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  border-bottom: 1px solid #FF9734;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto; }

.topic_main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 55px; }

.topic_dash {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 65px;
      -ms-flex: 0 0 65px;
          flex: 0 0 65px; }

.topic_name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 0px; }

.settings_topic a {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 20px;
  min-width: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #434A54; }

.settings_topic i {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center; }

.settings_topic span {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-width: 0px; }

.topic_info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 55px;
      -ms-flex: 0 0 55px;
          flex: 0 0 55px; }

.settings_input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%; }

.settings_input ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.settings_input li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.settings_entry {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%; }

.settings_entry span {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 20%;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  min-width: 0; }

input:not([type=submit]):not([type=file]) {
  font-size: 1em;
  padding-left: 10px;
  min-width: 0; }

select {
  font-family: agenda-medium, sans-serif;
  font-size: 1em;
  padding: 5px;
  min-width: 0;
  border: 1px solid #f2f2f2;
  border-radius: 3px; }

/* 
  Settings Flyout
*/
/*
  Print Tab
*/
#print .content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

#print .content > * {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 100%; }

#print .Table {
  margin: 0; }

#print .filament_amount {
  padding-left: 0.5em; }

/* 
  Files tab
*/
#files .content {
  margin: 0px; }

.file_upload {
  -webkit-flex-basis: 30%;
      -ms-flex-preferred-size: 30%;
          flex-basis: 30%; }

.file_search {
  -webkit-flex-basis: 60%;
      -ms-flex-preferred-size: 60%;
          flex-basis: 60%;
  padding-left: 0.5em; }

.file_sort {
  -webkit-flex-basis: 5%;
      -ms-flex-preferred-size: 5%;
          flex-basis: 5%;
  margin-left: auto; }
  .file_sort a {
    color: #434A54; }

.file_area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  padding-bottom: 10px; }

.file_header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #FF9734;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.file_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }

.file_entry {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  border-bottom: 1px solid #FF9734;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto; }

.file_entry a {
  color: #434A54; }

.file_footer {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto; }

.file_main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 55px; }

.file_status, .file_info, .file_print {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 55px;
      -ms-flex: 0 0 55px;
          flex: 0 0 55px;
  text-align: right; }

.file_name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 0px; }

.file_entry a {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 20px;
  min-width: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.file_entry i {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center; }

.file_entry span {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-width: 0px; }

.file_entry .file_add_info li {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.file_add_info {
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .file_add_info.hide {
    display: none; }

.file_add_info_content {
  padding: 5px; }

.file_add_info_buttons {
  margin-left: auto;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }

.file_info {
  text-align: center; }

.file_ok {
  color: #A9CC3C; }

.file_failed {
  color: #CC2B14; }

.file_ok i, .file_failed i {
  color: white; }

.fileinput-button {
  position: relative;
  overflow: hidden; }

.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(-300px, 0) scale(4);
          transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer; }

#term .terminal {
  margin-bottom: 30px; }
  #term .terminal #terminal-output {
    min-height: 150px;
    margin-bottom: 5px; }
#term #terminal-sendpanel {
  text-align: right; }

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px; }

pre.prettyprint {
  margin-bottom: 20px; }

pre code {
  padding: 0;
  color: inherit;
  white-space: pre;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0; }

.pre-scrollable {
  max-height: 150px;
  overflow-y: scroll; }

/* Startup */
.startup_step {
  display: none;
  width: 100%; }
  .startup_step.active {
    display: inline-block; }

/* Filament swap */
.swap_process_step, .fd_swap_process_step {
  display: none;
  width: 100%; }
  .swap_process_step.active, .fd_swap_process_step.active {
    display: inline-block; }

#swap-info, #fd-swap-info {
  display: none; }
  #swap-info.active, #fd-swap-info.active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

#swap-load-unload, #fd-swap-load-unload {
  display: none; }
  #swap-load-unload.active, #fd-swap-load-unload.active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

/* Filament Detection - Filament swap */
.fd_step {
  display: none;
  width: 100%; }
  .fd_step.active {
    display: inline-block; }

.no-border {
  border: 0 !important; }

.select-material {
  width: 100%; }

/* 
  Media Queries
*/
@media screen and (min-width: 790px) {
  .file_entry .file_add_info.slide {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }

  .file_entry .file_extra_info {
    -webkit-flex-basis: 70%;
        -ms-flex-preferred-size: 70%;
            flex-basis: 70%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }

  .file_entry .file_extra_info li {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%; }

  #print .content > * {
    width: 50%; }

  .control-extrusion {
    padding-left: 10px; }

  .spool .spool_picture {
    display: none;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; } }
/* 
  Animation Key frames 
*/
@-webkit-keyframes anim {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex; }
  100% {
    opacity: 1; } }
@keyframes anim {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  100% {
    opacity: 1; } }
