ACTION=="add",KERNEL=="hid*" RUN+="/home/pi/scripts/checkDevicePlug-udev"
ACTION=="remove", KERNEL=="hid*", RUN+="/home/pi/scripts/checkDeviceUnplug-udev"
KERNEL!="sd[a-z][0-9]", GOTO="media_by_label_auto_mount_end"
IMPORT{program}="/sbin/blkid -o udev -p %N"
ENV{ID_FS_LABEL}!="", ENV{dir_name}="%E{ID_FS_LABEL}"
ENV{ID_FS_LABEL}=="", ENV{dir_name}="usbhd-%k"
ACTION=="add", ENV{mount_options}="relatime,sync,dmask=0022,fmask=0022"
ACTION=="add", ENV{ID_FS_TYPE}=="vfat|ntfs", ENV{mount_options}="$env{mount_options},utf8,gid=100,fmask=0022,dmask=0000,user_xattr"
ACTION=="add", RUN+="/bin/mkdir -p /media/pi/%E{dir_name}", RUN+="/bin/mount -o $env{mount_options} /dev/%k /media/pi/%E{dir_name}"
ACTION=="remove", ENV{dir_name}!="", RUN+="/bin/umount -l /media/pi/%E{dir_name}", RUN+="/bin/rmdir /media/pi/%E{dir_name}"
LABEL="media_by_label_auto_mount_end"
