ACTION=="add", SuBSYSTEM=="usb", ENV{XAUTHORITY}="/home/pi/.Xauthority", ENV{DISPLAY}=":0", OWNER="pi", RUN+="/home/pi/scripts/checkDevicePlug-udev"
ACTION=="remove", SUBSYSTEM=="usb", ENV{XAUTHORITY}="/home/pi/.Xauthority", ENV{DISPLAY}=":0", OWNER="pi", RUN+="/home/pi/scripts/checkDeviceUnplug-udev"
ACTION=="add",KERNEL=="hid*", RUN+="/home/pi/scripts/checkDevicePlug-udev"
ACTION=="add",KERNEL=="sd*", RUN+="/home/pi/scripts/checkDevicePlug-udev"
ACTION=="remove", KERNEL=="sd*", RUN+="/home/pi/scripts/checkDeviceUnplug-udev"
ACTION=="remove", KERNEL=="hid*", RUN+="/home/pi/scripts/checkDeviceUnplug-udev"

