M605 S3;							Mirror
G28 X0;								Home X
G1 X20 F12000;						Wipe it
G1 X1 F12000;						Wipe it
M605 S1;							Back to normal
T0;									Reset tool (mirror mode sets active tool to 1)
G28 X0 Y0;							Home X, Y
{% if stepperTimeout %}
M84 S{{ stepperTimeout }};			Reset stepper disable timeout
M84;								And disable them right away for now
{% endif %}
