M605 S3 U0;							Mirror without temperature change
G28 X0;								Home X
G1 X-17 F12000;						Wipe it
G1 X-37 F12000;						Wipe it
G1 X-17 F12000;						Wipe it again
G1 X-37 F12000;						Wipe it again
M605 S1;							Back to normal
T0;									Reset tool (mirror mode sets active tool to 1)
M84;								And disable them right away for now
