<footer class="icon-bar">
    <a href="#filament">
        <i class="fa fa-cog"></i>
        Filament
    </a>
    <a href="#files">
        <i class="fa fa-file"></i>
        Files
    </a>
    <a href="#print" class="active">
        <i class="fa fa-ellipsis-v"></i>
        Print
    </a>
    <a href="#status">
        <i class="fa fa-tachometer"></i>
        Status
    </a>
    <!--IF advanced TODO
    <a href="#control">
        <i class="fa fa-arrows"></i>
        Control
    </a>-->
    <a href="#settings">
        <i class="fa fa-gears"></i>
        Settings
    </a>
</footer>