<footer class="icon-bar">
    <a id="print_icon" href="#print" class="active">
        <i class="fa fa-cube"></i>
        {{ _('Print') }}
    </a>
    <a id="files_icon" href="#files">
        <i class="fa fa-file"></i>
       {{ _('Jobs') }}
    </a>
    <a id="settings_icon" href="#settings">
        <i class="fa fa-gears"></i>
        {{ _('Settings') }}
    </a>
</footer>
