<footer class="icon-bar">
    <a href="#print" class="active">
        <i class="fa fa-cube"></i>
        Print
    </a>
    <a href="#files">
        <i class="fa fa-file"></i>
        Jobs
    </a>
    <a href="#settings">
        <i class="fa fa-gears"></i>
        Settings
    </a>
</footer>