<header id="header" class="app-header">
    <div class="header_logo" data-bind="touchClick: function () { location.reload(true); }">
        <a href="#" class="logo">
            <img src="{{ url_for("plugin.lui.static", filename="img/logo.png") }}" width="60%" height="60%">
        </a>
    </div>

    {% if debug_lui %}
    <div style="padding-right: 2em" data-bind="touchClick: function () { doDebuggingAction() } ">
      <a href="#">
        Debug
      </a>
    </div>
    {% endif %}

    <div class="header_status">
        <span data-bind="text: printerState.stateString"></span>
    </div>
    <div class="header_activity" data-bind="visible: printerState.currentActivity()">
      <i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>
      <span data-bind="text: printerState.currentActivity()"></span>
    </div>
    <!--
    <div id="stop-light">
        <svg x="0px" y="0px"
             width="98px" height="30px" viewBox="0 0 98 30">
            <circle class="light-red" fill="#983F24" cx="15" cy="15" r="9"/>
            <circle class="light-orange" fill="#7D6E1F" cx="49" cy="15" r="9"/>
            <circle class="light-green" fill="#35801C" cx="83" cy="15" r="9"/>
        </svg>
    </div>-->
  {% if local_addr %}
  <!-- ko allowBindings: false -->
  <div id="ethernet_connectivity" class="network-status">
    <a href="#">
      <i class="fa fa-plug ethernet-status" data-bind="visible: status.connection.ethernet()"></i>
    </a>
  </div>
  <div id="wifi_connectivity" class="network-status">
    <a href="#"><img src="" class="wifi-status" data-bind="attr: { src: status.connection.wifi() ? '{{ url_for("plugin.lui.static", filename="img/wifi.svg") }}' : '{{ url_for("plugin.lui.static", filename="img/wifi-slash.svg") }}' }" /></a>
  </div>
  <!-- /ko -->
  {% endif %}
    <div class="header_login" {% if not local_addr %} style="margin-left: auto" {% endif %}>
        <a href="#login" data-bind="touchClick: function () { showLoginFlyout() }"><i class = "fa fa-power-off" style="padding-right: 0.5em;"></i><span data-bind="visible: settings.autoShutdown">!</span>{%- if not local_addr -%}<span data-bind="text: loginState.userMenuText">{{ _('Login') }}</span>{%- endif -%}</a>
    </div>
</header>
