<header id="header" class="app-header">
    <a href="#" class="logo">
        <img src="{{ url_for("plugin.lui.static", filename="img/logo.png") }}" width="60%" height="60%">
    </a>
    <h3>#files</h3>
    <!--
    <div id="stop-light">
        <svg x="0px" y="0px"
             width="98px" height="30px" viewBox="0 0 98 30">
            <circle class="light-red" fill="#983F24" cx="15" cy="15" r="9"/>
            <circle class="light-orange" fill="#7D6E1F" cx="49" cy="15" r="9"/>
            <circle class="light-green" fill="#35801C" cx="83" cy="15" r="9"/>
        </svg>
    </div>-->
    <a href="#login"><i class = "fa fa-user"></i></a>
</header>