<script>
    var UI_API_KEY = "{{ uiApiKey }}";
    var BASE_URL = "{{ url_for('index') }}";

    var OCTOPRINT_VIEWMODELS = [];
    var ADDITIONAL_VIEWMODELS = [];
    var OCTOPRINT_ADDITIONAL_BINDINGS = [];

    var CONFIG_DEBUG = {%  if debug -%} true; {% else %} false; {%- endif %}

    var SOCKJS_URI = "{{ url_for('index') }}" + "sockjs";
    var SOCKJS_DEBUG = CONFIG_DEBUG;
    // sockjs should define CLOSE_NORMAL for us, but they don't (from ws spec)
    var SOCKJS_CLOSE_NORMAL = 1000;

    var VERSION = "{{ version.number|e }}";
    var LOCALE = "{{ g.locale|e }}";
    var AVAILABLE_LOCALES = {{ locales|tojson }};
    var CONFIG_LOGFILESPERPAGE = 10;
    var CONFIG_USERSPERPAGE = 10;
    var CONFIG_ACCESS_CONTROL = {% if enableAccessControl -%} true; {% else %} false; {%- endif %}
</script>