<div class="overlay"></div>
<aside class="flyout">
    <div class="flyout-header">
        <h4>Left filament</h4>
        <span class="flyout-close flyout-toggle">x</span>
    </div>
    <div class="flyout-body">
        <p>Select your type of filament and estimate the amount that is left on the spool</p>
        <ul class="button-area">
            <li class="button"><a href="#remove_filament"><span>Remove filament</span></a>
        </ul>
    </div>
</aside>