<div id="locallock-unlock-container" data-bind="visible: isLocalLocked">
    <div class="Table">
        <div class="Table-header Table-row">
            <div class="Table-item">
                {{_('Printer locked')}}
            </div>
        </div>
        <div class="Table-row">
            <div class="Table-item">
	            <span>{{ _('Your printer is currently locked. Please enter the unlock code to continue.') }}</span>
            </div>
        </div>
        <div class="Table-row">
            <div class="Table-item">
                <input type="password" data-bind="value: settings.locallock_code" pattern="[0-9]*" inputmode="numeric" />
            </div>
        </div>
        <div class="Table-row">
            <div class="Table-item">
                <ul class="button-area">
                    <li class="button ok-button" >
                        <a href="#" data-bind="touchClick: function () { unlock(settings.locallock_code()) }">
                        <span>
                            {{ _('Unlock') }}
                        </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
