<div class="overlay"></div>
<div id="settings_flyouts">
  <aside id="printer_settings_flyout" class="flyout">
    <div class="flyout-header">
      <h4 data-bind="text: settingsTopic"></h4>
      <span class="flyout-close" data-bind="click: flyout.closeFlyout">&times;</span>
    </div>
    <div class="flyout-body">
      <div id="printer_settings_flyout_content" class="flyout_content">
        {% include "flyouts_lui/setting_flyouts/printer_flyout.jinja2" %}
      </div>

      <ul class="button-area">
        <li class="button secondary-button">
          <a href="#cancel" data-bind="click: flyout.closeFlyout">
            <span>Cancel</span>
          </a>
        </li>
        <li class="button">
          <a href="#save" data-bind="click: flyout.closeFlyoutAccept">
            <span>Save</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>
  <aside id="materials_settings_flyout" class="flyout">
    <div class="flyout-header">
      <h4 data-bind="text: settingsTopic"></h4>
      <span class="flyout-close" data-bind="click: flyout.closeFlyout">&times;</span>
    </div>
    <div class="flyout-body">
      <!-- ko allowBindings: false -->
      <div id="materials_settings_flyout_content" class="flyout_content">
        {% include "flyouts_lui/setting_flyouts/materials_flyout.jinja2" %}
      </div>
      <!-- /ko -->
      <ul class="button-area">
        <li class="button secondary-button">
          <a href="#cancel" data-bind="click: flyout.closeFlyout">
            <span>Cancel</span>
          </a>
        </li>
        <li class="button">
          <a href="#save" data-bind="click: flyout.closeFlyoutAccept">
            <span>Save</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>
  <aside id="wireless_settings_flyout" class="flyout">
    <div class="flyout-header">
      <h4 data-bind="text: settingsTopic"></h4>
      <span class="flyout-close" data-bind="click: flyout.closeFlyout">&times;</span>
    </div>
    <div class="flyout-body">

      <!-- ko allowBindings: false -->
      <div id="wireless_settings_flyout_content" class="flyout_content">
        {% include "flyouts_lui/setting_flyouts/wireless_flyout.jinja2" %}
      </div>
      <!-- /ko -->
      <ul class="button-area">
        <li class="button">
          <a href="#close" data-bind="click: flyout.closeFlyout">
            <span>Close</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>
  <aside id="users_settings_flyout" class="flyout">
    <div class="flyout-header">
      <h4 data-bind="text: settingsTopic"></h4>
      <span class="flyout-close" data-bind="click: flyout.closeFlyout">&times;</span>
    </div>
    <div class="flyout-body">
      <div id="users_settings_flyout_content" class="flyout_content">
        {% include "flyouts_lui/setting_flyouts/users_flyout.jinja2" %}
      </div>

      <ul class="button-area">
        <li class="button">
          <a href="#close" data-bind="click: flyout.closeFlyout">
            <span>Close</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>
  <aside id="advanced_settings_flyout" class="flyout">
    <div class="flyout-header">
      <h4 data-bind="text: settingsTopic"></h4>
      <span class="flyout-close" data-bind="click: flyout.closeFlyout">&times;</span>
    </div>
    <div class="flyout-body">
      <!-- ko allowBindings: false -->
      <div id="advanced_settings_flyout_content" class="flyout_content">
        {% include "flyouts_lui/setting_flyouts/advanced_flyout.jinja2" %}
      </div>
      <!-- /ko -->
      <ul class="button-area">
        <li class="button secondary-button">
          <a href="#cancel" data-bind="click: flyout.closeFlyout">
            <span>Cancel</span>
          </a>
        </li>
        <li class="button">
          <a href="#save" data-bind="click: flyout.closeFlyoutAccept">
            <span>Save</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>
  <aside id="update_settings_flyout" class="flyout">
    <div class="flyout-header">
      <h4 data-bind="text: settingsTopic"></h4>
      <span class="flyout-close" data-bind="click: flyout.closeFlyout">&times;</span>
    </div>
    <div class="flyout-body">
      <!-- ko allowBindings: false -->
      <div id="update_settings_flyout_content" class="flyout_content">
        {% include "flyouts_lui/setting_flyouts/update_flyout.jinja2" %}
      </div>
      <!-- /ko -->
      <ul class="button-area">
        <li class="button">
          <a href="#close" data-bind="click: flyout.closeFlyout">
            <span>Close</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>
  <aside id="maintenance_settings_flyout" class="flyout">
    <div class="flyout-header">
      <h4 data-bind="text: settingsTopic"></h4>
      <span class="flyout-close" data-bind="click: flyout.closeFlyout">&times;</span>
    </div>
    <div class="flyout-body">
      <!-- ko allowBindings: false -->
      <div id="maintenance_settings_flyout_content" class="flyout_content">
        {% include "flyouts_lui/setting_flyouts/maintenance_flyout.jinja2" %}
      </div>
      <!-- /ko -->
      <ul class="button-area">
        <li class="button">
          <a href="#close" data-bind="click: flyout.closeFlyout">
            <span>Close</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>
  <aside id="webcam_settings_flyout" class="flyout">
    <div class="flyout-header">
      <h4 data-bind="text: settingsTopic"></h4>
      <span class="flyout-close" data-bind="click: flyout.closeFlyout">&times;</span>
    </div>
    <div class="flyout-body">
      <!-- ko allowBindings: false -->
      <div id="webcam_settings_flyout_content" class="flyout_content">
        {% include "flyouts_lui/setting_flyouts/webcam_flyout.jinja2" %}
      </div>
      <!-- /ko -->
      <ul class="button-area">
        <li class="button secondary-button">
          <a href="#cancel" data-bind="click: flyout.closeFlyout">
            <span>Cancel</span>
          </a>
        </li>
        <li class="button">
          <a href="#save" data-bind="click: flyout.closeFlyoutAccept">
            <span>Save</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>
</div> <!-- end settings flyouts -->
  <aside id="login_flyout" class="flyout">
    <div class="flyout-header">
    <h4>System</h4>
      <span class="flyout-close" data-bind="click: flyout.closeFlyout">&times;</span>
    </div>
    <div class="flyout-body">
      <div id="login_flyout_content">
        {% include "flyouts_lui/login_flyouts/login_flyout.jinja2" %}
      </div>
      <div class="Table">
        <div class="Table-row">
          <div class="Table-item">
            <ul class="button-area">
              <li class="button secondary-button">
                <a href="#save" data-bind="click: flyout.closeFlyout">
                  <span>Back</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <aside id="filament_detection_flyout" class="flyout">
    <div class="flyout-header bg-yellow">
      <h4>
        <i class="fa fa-exclamation-triangle"></i>Filament Detection Warning
      </h4>
    </div>
    <div class="flyout-body">
      <div id="filament_flyout_content">
        {% include "flyouts_lui/filament_flyouts/filament_detection_flyout.jinja2" %}
      </div>
      <ul class="button-area">
        <li class="button failed-button">
          <a href="#save" data-bind="click: cancelFilamentDetection">
            <span data-bind="">Cancel Print</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>
  <aside id="filament_flyout" class="flyout">
    <div class="flyout-header">
      <h4>Filament</h4>
      <span class="flyout-close" data-bind="click: flyout.closeFlyout">&times;</span>
    </div>
    <div class="flyout-body">
      <div id="filament_flyout_content">
        {% include "flyouts_lui/filament_flyouts/filament_flyout.jinja2" %}
      </div>
      <ul class="button-area">
        <li class="button failed-button">
          <a href="#abort" data-bind="click: flyout.closeFlyout">
            <span data-bind="">Abort</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>
  <aside id="firmware_file_flyout" class="flyout">
    <div class="flyout-header">
      <h4>Firmware files</h4>
      <span class="flyout-close" data-bind="click: flyout.closeFlyout">&times;</span>
    </div>
    <div class="flyout-body">
      <div id="firmware_file_flyout_content">
        {% include "flyouts_lui/file_flyouts/firmware_file_flyout.jinja2" %}
      </div>
      <ul class="button-area">
        <li class="button">
          <a href="#save" data-bind="click: flyout.closeFlyout">
            <span data-bind="">Close</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>
  <aside id="info_flyout" class="flyout">
    <div class="flyout-header">
      <h4>Info</h4>
      <span class="flyout-close" data-bind="click: flyout.closeFlyout">&times;</span>
    </div>
    <div class="flyout-body">
      <div id="info_flyout_content">
        {% include "flyouts_lui/info_flyouts/info_flyout.jinja2" %}
      </div>
      <ul class="button-area">
        <li class="button">
          <a href="#save" data-bind="click: flyout.closeFlyoutAccept">
            <span>Close</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>
  <aside id="zoffset_flyout" class="flyout">
    <div class="flyout-header">
      <h4>Z-offset Wizard</h4>
      <span class="flyout-close" data-bind="click: flyout.closeFlyout">&times;</span>
    </div>
    <div class="flyout-body">
      <div id="zoffset_flyout_content">
        {% include "flyouts_lui/setting_flyouts/zoffset_flyout.jinja2" %}
      </div>
      <ul class="button-area">
        <li class="button">
          <a href="#save" data-bind="click: flyout.closeFlyoutAccept">
            <span>Close</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>
  <aside id="extrudercalibration_flyout" class="flyout">
    <div class="flyout-header">
      <h4>Extruder calibration</h4>
    </div>
    <div class="flyout-body">
      <div id="extrudercalibration_flyout_content">
        {% include "flyouts_lui/setting_flyouts/extrudercalibration_flyout.jinja2" %}
      </div>
      <ul class="button-area">
        <li class="button failed-button">
          <a href="#save" data-bind="click: abort">
            <span>Abort</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>
  <aside id="bedcalibration_flyout" class="flyout">
    <div class="flyout-header">
      <h4>Bed calibration</h4>
    </div>
    <div class="flyout-body">
      <div id="bedcalibration_flyout_content">
        {% include "flyouts_lui/setting_flyouts/bedcalibration_flyout.jinja2" %}
      </div>
      <ul class="button-area">
        <li class="button failed-button" data-bind="visible: mayAbort">
          <a href="#save" data-bind="click: abort, disabled: mayAbort">
            <span>Abort</span>
          </a>
        </li>
        <li class="button" data-bind="visible: mayAccept">
          <a href="#save" data-bind="click: accept, disabled: mayAccept">
            <span>Close</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>
  <aside id="mode_select_flyout" class="flyout">
    <div class="flyout-header">
      <h4>Start print</h4>
      <span class="flyout-close" data-bind="click: flyout.closeFlyout">&times;</span>
    </div>
    <div class="flyout-body">
      <div id="mode_select_flyout_content">
        {% include "flyouts_lui/file_flyouts/mode_select_flyout.jinja2" %}
      </div>
    </div>
  </aside>
  <aside id="startup_flyout" class="flyout">
    <div class="flyout-header">
      <h4>Printer startup</h4>
    </div>
    <div class="flyout-body">
      <div id="startup_flyout_content">
        {%  if local_addr %}
        {% include "flyouts_lui/info_flyouts/startup_local_flyout.jinja2" %}
        {% else %}
        {% include "flyouts_lui/info_flyouts/startup_remote_flyout.jinja2" %}
        {% endif %}
      </div>
    </div>
  </aside>
<aside id="filament_override_flyout" class="flyout">
  <div class="flyout-header">
    <h4>Filament material and amount</h4>
  </div>
  <div class="flyout-body">
    <div class="Table">
      <div class="Table-header Table-row">
        <div class="Table-item">Filament settings</div>
      </div>
      <div class="Table-row">
        <div class="Table-item">
          <select class="select-material" data-bind="options: 
                      materialProfiles,
                      optionsText: 'name',
                      value: updateLeftTemperatureProfile,
                      optionsCaption: 'Choose material...'">
          </select>
        </div>
        <div class="Table-item">
          <select class="select-material" data-bind="options: 
                      materialProfiles,
                      optionsText: 'name',
                      value: updateRightTemperatureProfile,
                      optionsCaption: 'Choose material...'">
          </select>
        </div>
      </div>
      <div class="Table-row">
        <div class="Table-item">Amount: </div>
        <div class="Table-item">
          <input type="number" data-bind="value: updateLeftAmount"/>
      </div>
        <div class="Table-item">Amount: </div>
        <div class="Table-item">
          <input type="number" data-bind="value: updateRightAmount"/>
      </div>
      </div>
      <div class="Table-row">
        <div class="Table-item">
          <ul class="button-area">
            <li class="button">
              <a href="#" data-bind="click: function() {updateFilament('tool1', updateLeftAmount())}">
                <span>
                  <i class="fa fa-refresh"></i>Update left
                </span>
              </a>
            </li>
          </ul>
        </div>
        <div class="Table-item">
          <ul class="button-area">
            <li class="button">
              <a href="#" data-bind="click: function() {updateFilament('tool0', updateRightAmount())}">
                <span>
                  <i class="fa fa-refresh"></i>Update right
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <ul class="button-area">
      <li class="button">
        <a href="#save" data-bind="click: flyout.closeFlyoutAccept">
          <span>Close</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
<aside id="confirmation_flyout" class="flyout">
  <div class="flyout-header">
    <h4>Confirmation</h4>
  </div>
  <div class="flyout-body">
    <div id="info_flyout_content">
      <div class="Table">
        <div class="Table-row Table-header">
          <div class="Table-item">
            <div data-bind="text: confirmation_title"></div>
          </div>
        </div>
        <div class="Table-row">
          <div class="Table-item">
            <div id="confirmation_text" data-bind="text: confirmation_text"></div>
          </div>
        </div>
        <div class="Table-row">
          <div class="Table-item">
            <div id="confirmation_question" data-bind="text: confirmation_question"></div>
          </div>
        </div>
        <div class="Table-row">
          <div class="Table-item">
            <ul class="button-area">
              <li class="button failed-button">
                <a href="#save" data-bind="click: function() { confirmationDeferred.reject() }">
                  <span>Cancel</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="Table-item">
            <ul class="button-area">
              <li class="button ok-button">
                <a href="#save" data-bind="click: function() { confirmationDeferred.resolve() }">
                  <span>Confirm</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>
<aside id="offline_flyout" class="flyout">
  <div class="flyout-header">
    <h4><i class="fa fa-exclamation-triangle"></i>Service Offline</h4>
  </div>
  <div class="flyout-body">
    <div id="offline_flyout_content">
      <div class="Table">
        <div class="Table-row Table-header">
          <div class="Table-item">
            <div id="offline_title"></div>
          </div>
        </div>
        <div class="Table-row">
          <div class="Table-item">
            <div id="offline_text"></div>
          </div>
        </div>
{#      Out for now   
        <div class="Table-row">
          <div class="Table-item">
            <ul class="button-area">
              <li class="button ok-button">
                <a id="#offline_reload">
                  <span>Reload</span>
                </a>
              </li>
            </ul>
          </div>
        </div> #}
      </div>
    </div>
  </div>
</aside>
<div id="warnings_container">
  <div data-bind="template: { name: 'warning-template', foreach: warnings }">
  </div>
  <script type="text/html" id="warning-template">
    <aside class="flyout warning_flyout active">
      <div class="flyout-header bg-yellow">
        <h4>
          <i class="fa fa-exclamation-triangle"></i>Warning
        </h4>
      </div>
      <div class="flyout-body">
        <div id="info_flyout_content">
          <div class="Table">
            <div class="Table-row Table-header">
              <div class="Table-item">
                <div data-bind="text: warning_title"></div>
              </div>
            </div>
            <div class="Table-row">
              <div class="Table-item">
                <div id="warning_text" data-bind="html: warning_text"></div>
              </div>
            </div>
            <!-- ko if: !blocking -->
            <div class="Table-row">
              <div class="Table-item">
                <ul class="button-area">
                  <li class="button ok-button">
                    <a href="#save" data-bind="click: function() { callback(); $root.closeLastWarning() }">
                      <span>OK</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /ko -->
          </div>
        </div>
      </div>
    </aside>
  </script>
</div>
<div id="infos_container">
  <div data-bind="template: { name: 'info-template', foreach: infos }">
  </div>
  <script type="text/html" id="info-template">
    <aside class="flyout info_flyout active">
      <div class="flyout-header bg-green">
        <h4>
          <i class="fa fa-info"></i>Information
        </h4>
      </div>
      <div class="flyout-body">
        <div id="info_flyout_content">
          <div class="Table">
            <div class="Table-row Table-header">
              <div class="Table-item">
                <div data-bind="text: info_title"></div>
              </div>
            </div>
            <div class="Table-row">
              <div class="Table-item">
                <div id="info_text" data-bind="text: info_text"></div>
              </div>
            </div>
            <!-- ko if: !blocking -->
            <div class="Table-row">
              <div class="Table-item">
                <ul class="button-area">
                  <li class="button ok-button">
                    <a href="#save" data-bind="click: function() { callback(); $root.closeLastInfo() }">
                      <span>OK</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /ko -->
          </div>
        </div>
      </div>
    </aside>
  </script>
</div>
