{% assets "lui_css_bundle" %}<link rel="stylesheet" href="{{ ASSET_URL }}">{% endassets %}
<link rel="stylesheet" href="{{ url_for("plugin.networkmanager.static", filename="css/networkmanager.css") }}">
