<link rel="stylesheet" href="{{ url_for("plugin.lui.static", filename="css/lui.css") }}">
<link rel="stylesheet" href="{{ url_for("plugin.lui.static", filename="css/font-awesome.min.css") }}">
<link rel="stylesheet" href="{{ url_for("plugin.lui.static", filename="css/notifyjs-lui.css") }}">
<link rel="stylesheet" href="{{ url_for("plugin.lui.static", filename="css/keyboard-dark.css") }}">
<link rel="stylesheet" href="{{ url_for("plugin.lui.static", filename="css/nouislider.css") }}">