<div id="auto-shutdown">
	<div class="Table">
		<div class="Table-row Table-header">
			<div class="Table-item">
				Preparing to auto shutdown ... 
			</div>
		</div>
		<div class="Table-row" data-bind="visible: autoShutdownWaitOnRender() ">
			<div class="Table-item">
				<span>Time-lapse is still being rendered. Waiting on completion of render to start auto-shutdown.</span>
			</div>
		</div>
		<div class="Table-row" data-bind="visible: autoShutdownTimer() > 0">
			<div class="Table-item">
				<span>Print is about to shut down. Shutting down in: <span data-bind="text: autoShutdownTimer"></span> seconds.</span>
			</div>
		</div>
		<div class="Table-row">
			<div class="Table-item">
				<ul class="button-area">
				  <li class="button secondary-button">
				    <a href="#cancel" data-bind="click: function () { cancelAutoShutdown() }">
				      <span>Cancel</span>
				    </a>
				  </li>
				  <li class="button">
				    <a href="#save" data-bind="click: function () { system.systemShutdown() }">
				      <span>Shutdown now</span>
				    </a>
				  </li>
				</ul>
			</div>
		</div>
	</div>
</div>