<!-- ko allowBindings: false -->
<div id="temp">
    <div class="Table">
        <div class="Table-row Table-header">
            <div class="Table-item Table-item-grow-6">{{ _('Temperature') }}</div>

            <div class="Table-item" style="font-size:0.7em; font-weight: normal; flex-basis: 60px; max-width: 60px;">
                <span>{{ _('Actual') }}</span>
            </div>
            <div class="Table-item" style="font-size:0.7em; font-weight: normal; flex-basis: 60px; max-width: 60px;">
                <span>{{ _('Target') }}</span>
            </div>
        </div>
        <!-- ko foreach: tools -->
        <div class="Table-row">
            <div class="Table-item Table-item-grow-2" data-bind="text: name"></div>
            <div class="Table-item Table-item-grow-4">
                <div class="progress">
                    <span style="width: 0%" data-bind="text: status, style: { width: progress() + '%'}, css: css_class"></span>
                </div>
            </div>
            <div class="Table-item" style='flex-basis: 60px; max-width: 60px;'>
                <span data-bind="text: actual"></span>
            </div>
            <div class="Table-item" style='flex-basis: 60px; max-width: 60px;'>
                <span data-bind="text: target"></span>
            </div>
        </div>
        <!-- /ko -->
      <!-- ko if: hasBed -->
      <div class="Table-row" data-bind="with: bedTemp">
        <div class="Table-item Table-item-grow-2" data-bind="text: name"></div>
        <div class="Table-item Table-item-grow-4">
          <div class="progress">
            <span style="width: 0%" data-bind="text: status, style: { width: progress() + '%'}, css: css_class"></span>
          </div>
        </div>
        <div class="Table-item" style='flex-basis: 60px; max-width: 60px;'>
          <span data-bind="text: actual"></span>
        </div>
        <div class="Table-item" style='flex-basis: 60px; max-width: 60px;'>
          <span data-bind="text: target"></span>
        </div>
      </div>
      <!-- /ko -->
    </div> 
</div>
{% if not local_addr %}
<div id="info_livestream">
  <ul class="button-area">
    <li class="button" data-bind="touchClick: function () { startLivestream() }">
      <a href="#">
        <i class="fa fa-play"></i>
        <span>{{ _('Livestream')}}</span>
      </a>
    </li>
  </ul>
</div>
{% endif %}
<!-- /ko -->
{% if debug_lui %}
<!-- ko allowBindings: false -->
<div id="term">
    <div class="terminal">
        <div class="Table">
            <div class="Table-row Table-header">
                <div class="Table-item">
                    {{ _('Terminal') }}
                </div>
            </div>
            <div class="Table-row">
                <div class="Table-item">
                    <pre id="terminal-output" class="pre-scrollable" data-bind="foreach: displayedLines"><span data-bind="text: line, css: {muted: type == 'filtered' || type == 'cut'}"></span><br></pre>
                </div>
            </div>
          <div class="Table-row">
            <div class="Table-item">           
              <span>Scroll automatically</span>
            </div>
          <div class="Table-item" style="flex: 0 1 auto">
            <div class="check_toggle">
                <input type="checkbox" data-bind="checked: autoscrollEnabled" id="terminal-autoscrollEnabled" />
                <label for="terminal-autoscrollEnabled"></label>
              </div>
          </div>
          </div>
            <div class="Table-row">
                <div class="Table-item">
                    <input type="text" id="terminal-command" data-bind="value: command, event: { keyup: function(d,e) { return handleKeyUp(e); }, keydown: function(d,e) { return handleKeyDown(e); } }, enable: isOperational() && loginState.isUser()" />
                </div>
                <div class="Table-item" style="flex: 0 1 auto">
                    <ul class="button-area">
                        <li class="button" id="terminal-send" data-bind="touchClick: function () { sendCommand() }, enable: isOperational() && loginState.isUser()"><a href="#"><span>Send</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->
{% endif %}
