<aside id="maintenance_mode_flyout" class="flyout">
  <div class="flyout-header bg-yellow">
    <h4>
      <i class="fa fa-exclamation-triangle"></i>{{ _('Maintenance mode') }}
    </h4>
  </div>
  <div class="flyout-body">
    <div id="maintenance_mode_flyout_content">
      <div class="Table">
        <div class="Table-row">
          <div class="Table-item">
            {{ _('The print is currently in maintenance mode. Please finish the maintenance on the printer before you continue.') }}
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>
