<div id="printer_error_remote">
  <div class="Table">
    <div class="Table-row Table-header">
      <div class="Table-item">
        <span>
          {{ _('An error has occured') }}
        </span>
      </div>
    </div>
    <div class="Table-row">
      <div class="Table-item">
        {{ _('An error has occured while communicating with your printer. Action needs to be taken on the printer before remote access is possible.') }}
      </div>
    </div>
  </div>
</div>
