<div id="extruder_disconnected_error" data-bind="visible: printerState.errorReason() == 'extruder_disconnected'">
  <div class="Table">
    <div class="Table-row Table-header">
      <div class="Table-item">
        <span data-bind="visible: printerState.erroredExtruder() == 0">
          {{ _('The right print head seems to be disconnected.') }}
        </span>
        <span data-bind="visible: printerState.erroredExtruder() == 1">
          {{ _('The left print head seems to be disconnected.') }}
        </span>
      </div>
    </div>
    <div class="Table-row">
      <div class="Table-item">
        <span data-bind="visible: printerState.erroredExtruder() == 0">
          {{ _('Please ensure that the right print head is properly connected and press restore.') }}
        </span>
        <span data-bind="visible: printerState.erroredExtruder() == 1">
          {{ _('Please ensure that the left print head is properly connected and press restore.') }}
        </span>
      </div>
    </div>
  </div>
</div>
<div id="extruder_mintemp_error" data-bind="visible: printerState.errorReason() == 'extruder_mintemp'">
  <div class="Table">
    <div class="Table-row">
      <div class="Table-item Table-header">
        <span>
          {{ _('A temperature error has occured.') }}
        </span>
      </div>
    </div>
    <div class="Table-row">
      <div class="Table-item">
        {{ _('Please ensure that the ambient temperature of the printer is within specifications (see the printer\'s manual) and the print heads are properly connected.') }}
      </div>
    </div>
    <div class="Table-row" data-bind="visible: printerState.errorStateString">
      <div class="Table-item">
        <span>
          <strong>{{ _('Additional information') }}</strong>
        </span>
      </div>
    </div>
    <div class="Table-row" data-bind="visible: printerState.errorStateString">
      <div class="Table-item">
        <span data-bind="text: printerState.errorReason"></span>
      </div>
    </div>
    <div class="Table-row" data-bind="visible: printerState.errorStateString">
      <div class="Table-item">
        <span data-bind="text: printerState.erroredExtruder"></span>
      </div>
    </div>
  </div>
</div>
<div id="extruder_maxtemp_error" data-bind="visible: printerState.errorReason() == 'extruder_maxtemp'">
  <div class="Table">
    <div class="Table-row">
      <div class="Table-item Table-header">
        <span>
          {{ _('A temperature error has occured.') }}
        </span>
      </div>
    </div>
    <div class="Table-row">
      <div class="Table-item">
        {{ _('Please ensure that the ambient temperature of the printer is within specifications (see the printer\'s manual) and the print heads are properly connected.') }}
      </div>
    </div>
    <div class="Table-row" data-bind="visible: printerState.errorStateString">
      <div class="Table-item">
        <span>
          <strong>{{ _('Additional information') }}</strong>
        </span>
      </div>
    </div>
    <div class="Table-row" data-bind="visible: printerState.errorStateString">
      <div class="Table-item">
        <span data-bind="text: printerState.errorReason"></span>
      </div>
    </div>
    <div class="Table-row" data-bind="visible: printerState.errorStateString">
      <div class="Table-item">
        <span data-bind="text: printerState.erroredExtruder"></span>
      </div>
    </div>
  </div>
</div>
<div id="unknown_printer_error" data-bind="visible: printerState.errorReason() == 'unknown_printer_error'">
  <div class="Table">
    <div class="Table-row Table-header">
      <div class="Table-item">
        <span>
          {{ _('An unkown error has occured') }}
        </span>
      </div>
    </div>
    <div class="Table-row">
      <div class="Table-item">
        {{ _('An unknown error has occured while communicating with your printer. You can try to restore the connection.') }}
      </div>
    </div>
    <div class="Table-row" data-bind="visible: printerState.errorStateString">
      <div class="Table-item">
        <span>
          <strong>{{ _('Additional information') }}</strong>
        </span>
      </div>
    </div>
    <div class="Table-row" data-bind="visible: printerState.errorStateString">
      <div class="Table-item">
        <span data-bind="text: printerState.errorStateString"></span>
      </div>
    </div>
  </div>
</div>
<div id="reconnect_failed" data-bind="visible: printerState.errorReason() == 'reconnect_failed'">
  <div class="Table">
    <div class="Table-row Table-header">
      <div class="Table-item">
        <span>
          {{ _('The printer failed to reconnect') }}
        </span>
      </div>
    </div>
    <div class="Table-row">
      <div class="Table-item">
        {{ _('If you changed any wiring, please check again if everything is properly connected. You can try to restore the connection.') }}
      </div>
    </div>
    <div class="Table-row" data-bind="visible: printerState.errorStateString">
      <div class="Table-item">
        <span>
          <strong>{{ _('Additional information') }}</strong>
        </span>
      </div>
    </div>
    <div class="Table-row" data-bind="visible: printerState.errorStateString">
      <div class="Table-item">
        <span data-bind="text: printerState.errorStateString"></span>
      </div>
    </div>
  </div>
</div>
