 <div id="startup_step_prompt" class="startup_step" data-bind="css: { active: !isHomed() && !isHoming() }">
  <div class="Table">
    <div class="Table-row Table-header">
      <div class="Table-item">
        {{ _('Printer startup') }}
      </div>
    </div>
    <div class="Table-row">
      <div class="Table-item">
        <span class="bold">{{ _('The printer just started up. Action needs to be taken on the printer before remote access is possible.') }}</span>
      </div>
    </div>
  </div>
</div>
<div id="startup_step_busy_homing" class="startup_step" data-bind="css: { active: isHoming }">
  <div class="Table">
    <div class="Table-row Table-header">
      <div class="Table-item">
        {{ _('Printer startup') }}
      </div>
    </div>
    <div class="Table-row">
      <div class="Table-item">
        <span>
          <i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>
          {{ _('Please wait while the printer is homing.') }}
        </span>
      </div>
    </div>
  </div>
</div>
{#
Out for not. Requires login, so not very useful from remote.
<div id="startup_download_logs">
  <div class="Table">
    <div class="Table-row">
      <ul class="button-area">
        <li class="button" data-bind="click: showLogsFlyout">
          <a href="#">
            <span>
            <i class="fa fa-file-text"></i>{{ _('Log files') }}
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
#}
