<div id="startup_step_prompt" class="startup_step" data-bind="css: { active: !printerState.isHomed() && !printerState.isHoming() && printerState.isOperational() }">
  <div class="Table">
    <div class="Table-row Table-header">
      <div class="Table-item">
        {{ _('Printer startup') }}
      </div>
    </div>
    <div class="Table-row">
      <div class="Table-item">
        {{ _('To start a print job, a homing sequence needs to be executed. The print bed and extruder heads will move to their home position.') }}
      </div>
    </div>
    <div class="Table-row">
      <div class="Table-item">
        <span class="bold">{{ _('Please make sure the bed is empty before proceeding.') }}</span>
      </div>
    </div>
    <div class="Table-row">
      <div class="Table-item">
        <ul class="button-area">
          <li class="button ok-button">
            <a href="#" data-bind="touchClick: function () { printerState.beginHoming() }, css: { disabled: printerState.isHomingRequested }">
              <span>
                <i class="fa fa-home"></i>{{ _('Begin homing') }}
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="Table-row">
      <div class="Table-item">
        <ul class="button-area">
          <li class="button secondary-button">
            <a href="#" data-bind="touchClick: function () { showMaintenanceFlyout() }">
              <span>
                <i class="fa fa-wrench"></i>{{ _('Maintenance') }}
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="startup_step_busy_homing" class="startup_step" data-bind="css: { active: printerState.isHoming() }">
  <div class="Table">
    <div class="Table-row Table-header">
      <div class="Table-item">
        {{ _('Printer startup') }}
      </div>
    </div>
    <div class="Table-row">
      <div class="Table-item">
        <span>
          <i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>
          {{ _('Please wait while the printer is homing.') }}
        </span>
      </div>
    </div>
  {% if printer_profile["autoBedCalibration"] %}
    <div class="Table">
      <div class="Table-item">
        {{ _('Current view') }}
      </div>

      <div class="Table-item">
        <a href="#" data-bind="touchClick: function () { refreshPreview() }" style="margin-left: auto">
          <i class="fa fa-refresh"></i> {{ _('Refresh') }}
        </a>
      </div>
      <!-- img not in Table-row>Table-item due to chromium bug -->
      <img class="webcam-preview" data-bind="attr: {src: webcam_previewUrl }" />
    </div>
  {% endif %}
  </div>
</div>
