<div id="login_dropdown_loggedout" style="padding: 15px" class="dropdown-menu" data-bind="css: {hide: loginState.loggedIn()}">
	<div class="Table">
		<div class="Table-row">
		    <div class="Table-item">
		    	<label for="login_user">{{ _('Username') }}</label>
		    </div>
		    <div class="Table-item">
		    	<input type="text" id="login_user" data-bind="value: loginState.loginUser, event: {'keyup': loginState.onLoginUserKeyup}" placeholder="{{ _('Username') }}" autocapitalize="none">
		    </div>
		</div>
		<div class="Table-row">
			<div class="Table-item">
				<label for="login_pass">{{ _('Password') }}</label>
			</div>
		    <div class="Table-item">
		    	<input type="password" id="login_pass" data-bind="value: loginState.loginPass, event: {'keyup': loginState.onLoginPassKeyup}" placeholder="{{ _('Password') }}">
		    </div>
		</div>
		<div class="Table-row">
		    <div class="Table-item">
		    	<label class="checkbox">
		    		<input type="checkbox" id="login_remember" data-bind="checked: loginState.loginRemember"> {{ _('Remember me') }}
		    	</label>
		    </div>
		</div>
	</div>
</div>
<div id="login_dropdown_loggedin" class="hide" data-bind="css: {hide: !loginState.loggedIn()}">
	<div id="usersettings_dialog">
		You are currently logged in as <span data-bind="text:loginState.userMenuText"></span>, do you want to log out?
	</div>
</div>
<div class="Table">
	<div class="Table-row">
	    <div class="Table-item">        
	        <ul class="button-area">
	          <li class="button"><a href="#save" data-bind="click: loginState.loginOrOut"><span data-bind="text: textLogin"></span></a></li>
	        </ul>
	    </div>
	</div>
	<div class="Table-row">
	    <div class="Table-item">        
	        <ul class="button-area">
	          <li class="button failed-button"><a href="#" data-bind="click: function() {system.systemReboot()}"><span>Reboot</span></a></li>
	        </ul>
	    </div>
	</div>
</div>