<aside id="bedcalibration_flyout" class="flyout">
    <div class="flyout-header">
      <h4>{{ _('Bed calibration') }}</h4>
    </div>
    <div class="flyout-body">
        <div id="bed_calibration">
      <div id="bedcalibration_flyout_content">
			{% if not printer_profile["autoBedCalibration"] %}
			<div id="warn-before-calibration" data-bind="visible: !showManualBedCalibration()">
			  <div class="Table">
				<div class="Table-row Table-header">
				  <div class="Table-item">
					{{ _('Bed calibration') }}
				  </div>
				</div>
				<div class="Table-row">
				  <div class="Table-item">
					<p>{{ _('Please make sure there is no print on the bed before you continue.') }}</p>
				  </div>
				</div>
				<div class="Table-row">
				  <div class="Table-item">
					<ul class="button-area">
					  <li class="button ok-button" data-bind="css: {disabled: !printerState.isOperational() || printerState.isPrinting() || !loginState.isUser()}, touchClick: function () { startManualBedCalibration()}">
						<a href="#">
						  <span>{{ _('Continue calibration') }}</span>
						</a>
					  </li>
					</ul>
				  </div>
				</div>
			  </div>
			</div>
			<div id="manual-bed-calibration" data-bind="visible: showManualBedCalibration()">
			  <div class="Table">
				<div class="Table-row Table-header">
				  <div class="Table-item">
					{{ _('Bed leveling') }}
				  </div>
				</div>
				<div class="Table-row">
				  <div class="Table-item">
					<p>{{ _('Select the corner you would like to calibrate. The extruder will move into this position. You may adjust the bed by turning the knob below the bed. Place a piece of paper between the bed and the nozzle and adjust the bed until there is friction between the paper and the nozzle. Repeat this for every corner.')}}</p>
				  </div>
				</div>
				<div class="Table-row">
				  <div class="Table-item">
					<div class="bed-canvas">
					  <div class="bed-canvas-item top left" data-corner="top_left"></div>
					  <div class="bed-canvas-item top right" data-corner="top_right"></div>
					  <div class="bed-canvas-item bottom left" data-corner="bottom_left"></div>
					  <div class="bed-canvas-item bottom right" data-corner="bottom_right"></div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			{% else %}
			<div id="warn-before-calibration" data-bind="visible: !showAutoBedCalibration()">
			  <div class="Table">
				<div class="Table-row Table-header">
				  <div class="Table-item">
					{{ _('Bed calibration') }}
				  </div>
				</div>
				<div class="Table-row">
				  <div class="Table-item">
					<p>{{ _('Please make sure there is no print on the bed before you continue.')}}</p>
				  </div>
				</div>
				<div class="Table-row">
				  <div class="Table-item">
					<ul class="button-area">
					  <li class="button" data-bind="touchClick: function () { startAutoBedCalibration() }">
						<a href="#">
						  <span>{{ _('Level bed') }}</span>
						</a>
					  </li>
					</ul>
				  </div>
				  <div class="Table-item">
					<ul class="button-area">
					  <li class="button" data-bind="touchClick: function () { startZoffset() } ">
						<a href="#">
						  <span>{{ _('Z-offset wizard') }}</span>
						</a>
					  </li>
					</ul>
				  </div>
				</div>
			  </div>
			</div>
			<div id="auto-bed-calibration"  data-bind="visible: showAutoBedCalibration()">
			  <div class="Table">
				<div class="Table-row Table-header">
				  <div class="Table-item">
					{{ _('Bed leveling') }}
				  </div>
				</div>
				<div class="Table-row">
				  <div class="Table-item">
					<span>{{ _('The print bed is currently being leveled. Please wait for the process to complete.')}}</span>
				  </div>
				</div>
				<div class="Table-row">
				  <div class="Table-item">
					<div class="progress progress-striped progress-animate">
					  <span data-bind="text: autoBedCalibrationProgressString, style: {backgroundColor: autoBedCalibrationProgressColor(), width: autoBedCalibrationProgress() + '%'}"></span>
					</div>
					<!--<div class="gauge">
					  <div class="mask">
						<div class="semi-circle" data-bind="style: { background: autoBedCalibrationProgressColor }"></div>
						<div class="semi-circle--mask" data-bind="style: { webkitTransform: 'rotate(' + autoBedCalibrationProgress() + ')', mozTransform: 'rotate(' + autoBedCalibrationProgress() + ')', transform: 'rotate(' + autoBedCalibrationProgress() + ')' }"></div>
					  </div>
					</div>-->
				  </div>
				</div>
				<div class="Table-row" data-bind="visible: autoBedCalibrationComplete()">
				  <div class="Table-item">
					<span>{{ _('Bed levelling has completed') }}</span>
				  </div>
				</div>
			  </div>
			</div>
			{% endif %}
		</div>
      <ul class="button-area">
        <li class="button failed-button" data-bind="visible: mayAbort">
          <a href="#save" data-bind="touchClick: function () { abort() }, disabled: mayAbort">
            <span>{{ _('Abort') }}</span>
          </a>
        </li>
        <li class="button ok-button" data-bind="visible: mayAccept">
          <a href="#save" data-bind="touchClick: function () { accept() }, disabled: mayAccept">
            <span>{{ _('Done') }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</aside>
