<aside id="head_maintenance_flyout" class="flyout">
  <div class="flyout-header">
    <h4>{{ _('Filament material and amount') }}</h4>
  </div>
  <div class="flyout-body">
    <div class="Table">
      <div class="Table-header Table-row">
        <div class="Table-item">{{ _('Filament settings') }}</div>
      </div>
      <div class="Table-row" data-bind="css: { disabled: isSavingMaterial() } ">
        {% if local_addr %}
        <!-- ko keyboardForeach: toolInfo.tools.slice(0).reverse() -->
        {% else %}
        <!-- ko foreach: toolInfo.tools.slice(0).reverse() -->
        {% endif %}
        <div class="Table-item Table-nested" style="align-self: flex-start;">
          <div class="Table-row">
            <div class="Table-item">
              <span data-bind="text: name"></span>&nbsp;
              <span data-bind="text: $root.filament.getHotEndTypeName(filament.hotEndType())"></span>
            </div>
          </div>
          <div class="Table-row">
            <div class="Table-item">
              <select class="select-material" data-bind="
                            css: { disabled: target() > 0 },
                            options:  $root.filament.materialProfiles,
                            optionsValue: 'name',
                            optionsText: 'name',
                            value: filament.materialProfileName">
              </select>
            </div>
          </div>
          <div class="Table-row" data-bind="visible: filament.materialProfileName() && !$root.filament.materialOkForHotEnd(filament.materialProfileName(), $data)">
            <div class="Table-item">
              <span>
                <i class="fa fa-exclamation-triangle"></i> {{ _('To print this material you need a high temperature hot end.') }}
              </span>
            </div>
          </div>
          <div class="" data-bind="visible: !filament.materialProfileName() || $root.filament.materialOkForHotEnd(filament.materialProfileName(), $data)">
          <div class="Table-row">
            <div class="Table-item">
              {{ _('Amount (m)') }}
            </div>
          </div>
          <div class="Table-row">
            <div class="Table-item">
              <input type="number" data-bind="value: filament.amountMeter, css: { disabled: target() > 0 || filament.materialProfileName() == 'None' }"/>
            </div>
          </div>

          <div class="Table-row">
            <div class="Table-item">
              <ul class="button-area">
                <li class="button" data-bind="visible: target() == 0">
                  <a href="#" data-bind="touchClick: function() { $root.filament.startHeating(key()); }, css: { disabled: filament.materialProfileName() == 'None' }">
                    <span>
                      <i class="fa fa-thermometer-full"></i>{{ _('Pre-heat') }}
                    </span>
                  </a>
                </li>
                <li class="button failed-button" data-bind="visible: target() > 0">
                  <a href="#" data-bind="touchClick: function() { $root.filament.finishHeating(key()); }, css: { disabled: filament.materialProfileName() == 'None' }">
                    <span>
                      <i class="fa fa-thermometer-empty"></i>{{ _('Switch off') }}
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="Table-row" data-bind="css: { disabled: target() == 0 }">
            <div class="Table-item Table-item-grow-4">
              <div class="progress">
                <span style="width: 0%" data-bind="text: displayStatus, style: { width: progress() + '%'}, css: cssClass"></span>
              </div>
            </div>
            <div class="Table-item" style='flex-basis: 70px; max-width: 70px;'>
              <span data-bind="text: target"></span>
              <span>&deg;C</span>
            </div>
          </div>
          <div class="Table-row">
            <div class="Table-item">
              <ul class="button-area">
                <li class="button" data-bind="visible: !filament.isRetracting()">
                  <a href="#" data-bind="touchClick: function() { $root.filament.startRetracting(key()); }, css: { disabled: $root.filament.isAnyExtrudingOrRetracting() || filament.materialProfileName() == 'None' || status() != 'READY'  } ">
                    <span>
                      <i class="fa fa-arrow-up"></i>{{ _('Unload') }}</span>
                  </a>
                </li>
                <li class="button failed-button" data-bind="visible: filament.isRetracting()">
                  <a href="#" data-bind="touchClick: function() { $root.filament.finishRetracting(key()); }">
                    <span>
                      <i class="fa fa-close"></i>{{ _('Stop') }}
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="Table-row">
            <div class="Table-item">
              <ul class="button-area">
                <li class="button" data-bind="visible: !filament.isExtruding()">
                  <a href="#" data-bind="touchClick: function() { $root.filament.startExtruding(key()); }, css: { disabled: $root.filament.isAnyExtrudingOrRetracting() || filament.materialProfileName() == 'None' || status() != 'READY'  } ">
                    <span>
                      <i class="fa fa-arrow-down"></i>{{ _('Purge') }}
                    </span>
                  </a>
                </li>
                <li class="button failed-button" data-bind="visible: filament.isExtruding()">
                  <a href="#" data-bind="touchClick: function() { $root.filament.finishExtruding(key()); }, css: { disabled: status() != 'READY'  } ">
                    <span>
                      <i class="fa fa-close"></i>{{ _('Stop') }}
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          </div>
        </div>
        <!-- /ko -->
      </div>
    </div>
    <ul class="button-area">
      <li class="button">
        <a href="#" data-bind="touchClick: headSwapPosition">
          <span>{{ _('Swap hot ends') }}</span>
        </a>
      </li>
    </ul>
    <ul class="button-area">
      <li class="button ok-button">
        <a href="#save" data-bind="touchClick: function ()  { flyout.closeFlyoutAccept() }">
          <span>
            <i class="fa fa-check"></i>{{ _('Done') }}</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
