<div id="maintenance_control" class="Table active">
  <div class="Table-header Table-row">
    <div class="Table-item">{{ _('Maintenance') }}</div>
  </div>
  <div class="Table-row">
    <div class="Table-item">
      <ul class="button-area">
        <li class="button" data-bind="touchClick: function () { showHeadMaintenance() }">
          <a href="#">
            <span>{{ _('Head maintenance') }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="Table-row">
    <div class="Table-item">
      <ul class="button-area">
        <li class="button" data-bind="touchClick: function () { cleanBedPosition() }">
          <a href="#">
            <span>{{ _('Clean bed position') }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  {% if printer_profile["extruderCalibration"] %} <!-- for now only available for Bolt -->
  <div class="Table-row">
    <div class="Table-item">
      <ul class="button-area">
        <li class="button" data-bind="touchClick: function () { calibrateExtruders() }">
          <a href="#">
            <span>{{ _('Calibrate extruders') }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  {% endif %}
  <div class="Table-row">
    <div class="Table-item">
      <ul class="button-area">
        <li class="button" data-bind="touchClick: function () { calibrateBed() }">
          <a href="#">
            <span>{{ _('Calibrate bed') }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="Table-row">
    <div class="Table-item">
      <ul class="button-area">
        <li class="button" data-bind="touchClick: function () { logFiles() }">
          <a href="#">
            <span>{{ _('Log files') }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

