<div class="tab" id="filament">
    <div class="content">
        <div class="spools">
            <div class="spool left-spool">
                <div class="title">Left</div>
                <object data="{{ url_for("plugin.lui.static", filename="img/filament_spool_up_r.svg") }}" type="image/svg+xml"></object>
                <ul class="spool-properties">
                    <li>Material: ABS</li>
                    <li>Filament on spool: 1100 mm</li>
                    <li>Pre-heat temperature: 250C</li>
                </ul>
                <div class="spool-buttons">
                    <ul class="button-area">
                        <li class="button flyout-toggle"><a href="#"><span>Change filament</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="spool right-spool">
                <div class="title">Right</div>
                <object data="{{ url_for("plugin.lui.static", filename="img/filament_spool_up_r.svg") }}" type="image/svg+xml"></object>
                <ul class="spool-properties">
                    <li>Material: ABS</li>
                    <li>Filament on spool: 1100 mm</li>
                    <li>Pre-heat temperature: 250C</li>
                </ul>
                <div class="spool-buttons">
                    <ul class="button-area">
                        <li class="button flyout-toggle"><a href="#"><span>Change filament</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>