


                                <li class="button failed-button"><a data-bind="click: function() { if ($root.enableRemove($data)) { $root.removeFile($data); } else { return; } }, css: {disabled: !$root.enableRemove($data)}"><span>Delete</span></a></li>
                                <li class="button"><a data-bind="attr: {href: $root.downloadLink($data), css: {disabled: !$root.downloadLink($data)}}"><span>Download</span></a></li>
                                <li class="file_name" data-bind="style: { 'font-weight': $root.listHelper.isSelected($data) ? 'bold' : 'normal' }"><a href="#file_name"><span data-bind="text: name"></span></a></li>
                                <li class="file_print" style="flex-basis: 150px"><a href="#print_file"><span data-bind="text: formatSize(size)"></span></a></li>
                                <li class="file_status file_neutral"><a href="#file_status"><i class="fa fa-folder-open"></i></a></li>
                            </ul>
                            </ul>
                            <a class="btn btn-mini" data-bind="attr: {href: $root.downloadLink($data), css: {disabled: !$root.downloadLink($data)}}" title="{{ _('Download') }}"><i class="icon-download-alt"></i></a>
                            <div class="btn btn-mini" data-bind="click: function() { if ($root.enableRemove($data)) { $root.removeFile($data); } else { return; } }, css: {disabled: !$root.enableRemove($data)}" title="{{ _('Remove') }}"><i class="icon-trash"></i></div>
                            <div class="file_add_info_content" data-bind="html: $root.getAdditionalData($data)"></div>
                            <li class="file_info"><a href="#file_info" data-bind="click: function() { if ($root.enableAdditionalData($data)) { $root.toggleAdditionalData($data); } else { return; } }, css: { disabled: !$root.enableAdditionalData($data) }" title="{{ _('Additional data') }}"><i class="fa fa-2x fa-angle-down"></i></a></li>
                            <li class="file_name"><a href="#file_name"><span data-bind="style: { 'font-weight': $root.listHelper.isSelected($data) ? 'bold' : 'normal' }, text: name, click: function() { if ($root.enableAdditionalData($data)) { $root.toggleAdditionalData($data); } else { return; } }, css: { disabled: !$root.enableAdditionalData($data) }" title="{{ _('Additional data') }}"></span></a></li>
                            <li class="file_name"><a href="#file_name"><span>...</span></a></li>
                            <li class="file_print"><a href="#print_file" data-bind="click: function() { if ($root.enableSelect($data)) { $root.loadFile($data, true); } else { return; } }, css: {disabled: !$root.enableSelect($data)}" title="{{ _('Load') }}"><i class="fa fa-print"></i></a></li>
                            <li class="file_status file_neutral"><a href="#file_status"><i class="fa fa-arrow-left"></i></a></li>
                            <li class="file_status" data-bind="css: $root.getSuccessClass($data)"><a href="#file_status"><i class="fa" data-bind="css: $root.getSuccessIcon($data)"></i></a></li>
                            <ul class="button-area">
                            <ul class="file_main">
                        </div>
                        </div>
                        </div>
                        </ul>
                        </ul>
                        <div class="btn-group action-buttons">
                        <div class="file_add_info hide">
                        <div class="size">{{ _('Size') }}: <span data-bind="text: formatSize(size)"></span></div>
                        <div class="title muted" data-bind="text: name"></div>
                        <div class="uploaded">{{ _('Uploaded') }}: <span data-bind="text: formatTimeAgo(date)"></span></div>
                        <div data-bind="click: $root.changeFolder">
                        <i class="fa fa-sort"></i>
                        <li class="button fileinput-button" data-bind="css: {disabled: !$root.loginState.isUser()}"><a href="#upload_file"><span>{{ _('Upload') }}</span><input id="gcode_upload" type="file" name="file" class="fileinput-button"></a></li>
                        <ul class="file_main" style="background-color: #f2f2f2">
                        <ul class="file_main">
                    <!-- /ko -->
                    <!-- ko foreach: filesAndFolders -->
                    </div>
                    </div>
                    </script>
                    </script>
                    </script>
                    </ul>
                    <div class="file_entry" data-bind="attr: { id: $root.getEntryId($data) }, template: { name: $root.templateFor($data), data: $data }"></div>
                    <div class="file_entry" data-bind="visible: currentPath() != '', click: function() { $root.navigateUp(); }" style="display: none">
                    <div class="file_sort">
                    <script type="text/html" id="files_template_folder">
                    <script type="text/html" id="files_template_machinecode">
                    <script type="text/html" id="files_template_model">
                    <span class="bg-orange"></span>
                    <span>Sort Files </span>
                    <ul>
                </div>
                </div>
                </div>
                </div>
                <div class="button-area">
                <div class="file_header">
                <div class="file_list">
                <div id="gcode_upload_progress" class="progress progress-small">
            </div>
            </div>
            <div class="file_footer">
            <div class="gcode_files">
        </div>
        <div class="file_area">
    </div>
    <div class="content">
</div>
<div class="tab" id="files">