<div class="tab" id="files">
    <div class="content">
        <div class="file_area">
            <div class="file_header">
                <span>Sort Files </span>
                <div class="file_sort">
                    <i class="fa fa-sort"></i>
                </div>
            </div>
            <div class="file_list">
                <div class="file_entry">
                    <ul class="file_main">
                        <li class="file_status file_ok">
                            <a href="#file_status">
                                <i class="fa fa-check"></i>
                            </a>
                        </li>
                        <li class="file_name">
                            <a href="#file_name">
                                <span>Leapfrog_PLA_0.1</span>
                            </a>
                        </li>
                        <li class="file_info">
                            <a href="#file_info">
                                <i class="fa fa-2x fa-angle-down"></i>
                            </a>
                        </li>
                        <li class="file_print">
                            <a href="#print_file">
                                <i class="fa fa-print"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="file_add_info">           
                        <ul class="file_extra_info">
                            <li>File size: 55.1 MB</li>
                            <li>File kind: Gcode</li>
                            <li>Filament needed: 1400 mm</li>
                            <li>Uploaded: 21-09-1986</li>
                         </ul>
                         <ul class="button-area">
                             <li class="button"><a href="#download"><span>Download</span></a></li>
                             <li class="button failed-button"><a href="#delete_file"><span>Delete</span></a></li>
                         </ul>
                    </div>
                 </div>
                <div class="file_entry">
                    <ul class="file_main">
                        <li class="file_status file_neutral">
                            <a href="#file_status">
                                <i class="fa fa-minus"></i>
                            </a>
                        </li>
                        <li class="file_name">
                            <a href="#file_name">
                                <span>Shy_light_0.2_PLA</span>
                            </a>
                        </li>
                        <li class="file_info">
                            <a href="#file_info">
                                <i class="fa fa-2x fa-angle-down"></i>
                            </a>
                        </li>
                        <li class="file_print">
                            <a href="#print_file">
                                <i class="fa fa-print"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="file_add_info">           
                        <ul class="file_extra_info">
                            <li>File size: 55.1 MB</li>
                            <li>File kind: Gcode</li>
                            <li>Filament needed: 1400 mm</li>
                            <li>Uploaded: 21-09-1986</li>
                         </ul>
                         <ul class="button-area">
                             <li class="button"><a href="#download"><span>Download</span></a></li>
                             <li class="button failed-button"><a href="#delete_file"><span>Delete</span></a></li>
                         </ul>
                    </div>
                </div>
                <div class="file_entry">
                    <ul class="file_main">
                        <li class="file_status file_neutral">
                            <a href="#file_status">
                                <i class="fa fa-minus"></i>
                            </a>
                        </li>
                        <li class="file_name">
                            <a href="#file_name">
                                <span>Pinchwheel_v2_0.2_ABS</span>
                            </a>
                        </li>
                        <li class="file_info">
                            <a href="#file_info">
                                <i class="fa fa-2x fa-angle-down"></i>
                            </a>
                        </li>
                        <li class="file_print">
                            <a href="#print_file">
                                <i class="fa fa-print"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="file_add_info">           
                        <ul class="file_extra_info">
                            <li>File size: 1.1 MB</li>
                            <li>File kind: Gcode</li>
                            <li>Filament needed: 400 mm</li>
                            <li>Uploaded: 21-09-1986</li>
                         </ul>
                         <ul class="button-area">
                             <li class="button"><a href="#download"><span>Download</span></a></li>
                             <li class="button failed-button"><a href="#delete_file"><span>Delete</span></a></li>
                         </ul>
                    </div>
                </div>
                <div class="file_entry">
                    <ul class="file_main">
                        <li class="file_status file_neutral">
                            <a href="#file_status">
                                <i class="fa fa-minus"></i>
                            </a>
                        </li>
                        <li class="file_name">
                            <a href="#file_name">
                                <span>HIPS_ABS_Test4</span>
                            </a>
                        </li>
                        <li class="file_info">
                            <a href="#file_info">
                                <i class="fa fa-2x fa-angle-down"></i>
                            </a>
                        </li>
                        <li class="file_print">
                            <a href="#print_file">
                                <i class="fa fa-print"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="file_add_info">           
                        <ul class="file_extra_info">
                            <li>File size: 525.1 MB</li>
                            <li>File kind: Gcode</li>
                            <li>Filament needed: 14200 mm</li>
                            <li>Uploaded: 21-09-1986</li>
                         </ul>
                         <ul class="button-area">
                             <li class="button"><a href="#download"><span>Download</span></a></li>
                             <li class="button failed-button"><a href="#delete_file"><span>Delete</span></a></li>
                         </ul>
                    </div>
                </div>
                <div class="file_entry">
                    <ul class="file_main">
                        <li class="file_status file_failed">
                            <a href="#file_status">
                                <i class="fa fa-close"></i>
                            </a>
                        </li>
                        <li class="file_name">
                            <a href="#file_name">
                                <span>Spiral_double_color_ABS_0.2 Extra test tekst</span>
                            </a>
                        </li>
                        <li class="file_info">
                            <a href="#file_info">
                                <i class="fa fa-2x fa-angle-down"></i>
                            </a>
                        </li>
                        <li class="file_print">
                            <a href="#print_file">
                                <i class="fa fa-print"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="file_add_info">           
                        <ul class="file_extra_info">
                            <li>File size: 45.1 MB</li>
                            <li>File kind: STL</li>
                            <li>Filament needed: 14200 mm</li>
                            <li>Uploaded: 21-09-1986</li>
                         </ul>
                         <ul class="button-area">
                             <li class="button"><a href="#download"><span>Download</span></a></li>
                             <li class="button failed-button"><a href="#delete_file"><span>Delete</span></a></li>
                         </ul>
                    </div>
                </div>
                <div class="file_entry">
                    <ul class="file_main">
                        <li class="file_status file_neutral">
                            <a href="#file_status">
                                <i class="fa fa-minus"></i>
                            </a>
                        </li>
                        <li class="file_name">
                            <a href="#file_name">
                                <span>Spiral_double_color_ABS_0.2 Extra test tekst</span>
                            </a>
                        </li>
                        <li class="file_info">
                            <a href="#file_info">
                                <i class="fa fa-2x fa-angle-down"></i>
                            </a>
                        </li>
                        <li class="file_print">
                            <a href="#print_file">
                                <i class="fa fa-print"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="file_add_info">           
                        <ul class="file_extra_info">
                            <li>File size: 525.1 MB</li>
                            <li>File kind: STL</li>
                            <li>Filament needed: 12400 mm</li>
                            <li>Uploaded: 21-09-1986</li>
                         </ul>
                         <ul class="button-area">
                             <li class="button"><a href="#download"><span>Download</span></a></li>
                             <li class="button failed-button"><a href="#delete_file"><span>Delete</span></a></li>
                         </ul>
                    </div>
                </div>
            </div>
            <div class="file_footer">
                <div class="button-area">
                    <ul>
                        <li class="button"><a href="#upload_file"><span>Upload</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>