<div class="tab" id="files">
  <div id="gcode_upload_progress" class="progress progress-small">
    <span class="bg-orange"></span>
  </div>
  <div class="content">

    <div class="file_area">

      <div class="gcode_files">
        <div class="file_footer">

        </div>
        <div class="file_header">
          <div class="browse_modes">
            {%  if local_addr -%}
            <div id="step5" class="button-area">
              <ul>
                <li id="local_button" class="button load-button" data-bind="click: function () { browseLocal() }, css: {'secondary-button': !isOriginLocal()}">
                  <a href="#browse_local">
                    <span>
                      <i class="fa fa-hdd-o"></i>{{ _('Printer') }}
                    </span>
                  </a>
                </li>
              </ul>
            </div>
            <div id="step6" class="button-area">
              <ul>
                <li id="usb_button" class="button load-button" data-bind="click: function () { browseUsb() }, css: {disabled: !isUsbAvailable(), 'secondary-button': isOriginLocal()}">
                  <a href="#browse_usb">
                    <span>
                      <i class="fa fa-usb"></i>{{ _('USB') }}
                    </span>
                  </a>
                </li>
              </ul>
            </div>
            {%- endif %}
            {% if not local_addr or debug_lui  %}
            <div id="step7" class="button-area">
              <ul>
                <li id="upload_button" class="button fileinput-button" data-bind="css: {disabled: !$root.loginState.isUser()}">
                  <a href="#upload_file">
                    <span>
                      <i class="fa fa-upload" aria-hidden="true"></i>{{ _('Upload') }}
                    </span>
                    <input id="gcode_upload" type="file" name="file" accept=".gcode,.gco,.g" class="fileinput-button">
                            </a>
                </li>
              </ul>
            </div>
            {%- endif %}
          </div>
          <div id="step8" class="file_search">
            <form class="form-search" data-bind="submit: performSearch">
              <div class="file-search-input-container">
                <input type="text" class="input-block search-query" data-bind="value: searchQuery, valueUpdate: 'input'" placeholder="{{ _('Search...') }}" style="width: 100%;">
                  <div class="button-area" data-bind="visible: searchQuery()">
                    <ul>
                      <li class="button">
                        <a href="#" data-bind="click: function () { clearQuery() }">
                          <i class="fa fa-remove">  </i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
            </form>
          </div>
          <div id="sort" class="file_sort">
            <ul id="files_menu" class="sort_menu">
              <li>
                <a id="files_options" href="#">
                  <i class="fa fa-list"></i>
                </a>
                <ul>
                  <li class="menu_label">
                    <span>
                      <i class="fa fa-sort"></i>
                      <strong>{{ _('Sort by') }}</strong>
                    </span>
                  </li>
                  <li>
                    <a href="" data-bind="click: function () { $root.listHelper.changeSorting('name'); }">{{ _('Name') }}</a>
                  </li>
                  <li>
                    <a href="" data-bind="click: function () { $root.listHelper.changeSorting('upload'); }">{{ _('Upload date') }}</a>
                  </li>
                  <li>
                    <a href="" data-bind="click: function () { $root.listHelper.changeSorting('size'); }">{{ _('Size') }}</a>
                  </li>
                  <li class="menu_label">
                    <span>
                      <i class="fa fa-hdd-o"></i>
                      <strong>{{ _('Storage') }}</strong>
                      <small>
                        <span data-bind="text: freeSpaceString"></span>
                      </small>
                    </span>
                  </li>
                  <li>
                    <a href="#" data-bind="click: function () { removeAllFiles() }, css: { disabled: !loginState.isAdmin() || listHelper.allSize() == 0 }">
                      <i class="fa fa-trash"></i>{{ _('Delete all') }}</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="loading" data-bind="visible: isLoadingFileList()">
          <div class="file_entry">
            <ul class="file_main">
              <li class="file_name">
                <a href="#file_name">
                  <span>{{ _('Loading files...') }}</span>
                </a>
              </li>
              <li class="file_status">
                <a style="padding: 0;">
                  <i class="fa fa-spinner fa-pulse"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="loading" data-bind="visible: !isLoadingFileList() && currentOrigin() == 'local' && listHelper.allSize() == 0">
          <div class="file_entry">
            <ul class="file_main">
              <li class="file_name">
                <a href="#file_name">
                  {% if local_addr %}
                  <span class="no_files">{{ _('There are no files on your printer yet. You can load files from a USB drive.') }}</span>
                  {% else %}
                  <span class="no_files">{{ _('There are no files on your printer yet. Click upload to load a file from your computer..')}}</span>
                  {% endif %}
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="file_list"  data-bind="visible: !isLoadingFileList()">
          <div class="file_entry" data-bind="visible: currentPath() != '', click: function () { $root.navigateUp(); }" style="display: none">
            <ul class="file_main" style="background-color: #f2f2f2">
              <li class="file_status file_neutral">
                <a href="#file_status">
                  <i class="fa fa-arrow-left"></i>
                </a>
              </li>
              <li class="file_name">
                <a href="#file_name">
                  <span>...</span>
                </a>
              </li>
            </ul>
          </div>

          <!-- ko foreach: filesAndFolders -->
          <div class="file_entry" data-bind="attr: { id: $root.getEntryId($data) }, template: { name: $root.templateFor($data), data: $data }"></div>
          <!-- /ko -->
          <script type="text/html" id="files_template_firmware">
            <ul class="file_main">
              <li class="file_name" data-bind="click: function () { if ($root.enableSelect($data)) { $root.loadFile($data, false); } else { return; } }, css: {disabled: !$root.enableSelect($data)}">
                <a href="#file_name">
                  <span data-bind="style: { 'font-weight': $root.listHelper.isSelected($data) ? 'bold' : 'normal' }, text: name, click: function () { if ($root.enableAdditionalData($data)) { $root.loadFile($data, false); } else { return; } }, css: { disabled: !$root.enableAdditionalData($data) }" title="{{ _('Additional data') }}"></span>
                </a>
              </li>
            </ul>
          </script>
          <script type="text/html" id="files_template_machinecode">
            <ul class="file_main" data-bind="css: {'file_selected': $root.listHelper.isSelected($data)}">
              <li class="file_name" data-bind="click: function () { if ($root.enableSelect($data)) { $root.loadFile($data, false); } else { return; } }">
                <a href="#file_name">
                  <span data-bind="text: name, css: {disabled: !$root.isLoadActionPossible()}" title="{{ _('Load') }}"></span>
                </a>
              </li>
              <li class="file_print" data-bind="visible: $root.listHelper.isSelected($data)">
                  <a href="#" data-bind="css: {disabled: !$root.isLoadActionPossible()}, click: function () { $root.printAndChangeTab(); }" title="{{ _('Print') }}">
                    <i class="fa fa-play"></i> 
                  </a>
              </li>
              <li class="file_status">
                <a>
                  <i class="fa" data-bind="css: $root.getSuccessIcon($data)"></i>
                </a>
              </li>
              <li class="file_info">
                <a href="#file_info" data-bind="click: function () { $root.toggleAdditionalData($data);}" title="{{ _('Additional data') }}">
                  <i class="fa fa-2x fa-angle-down"></i>
                </a>
              </li>
            </ul>
            <div class="file_add_info hide">
              <div class="file_add_info_preview">
                <img data-bind="attr: {src: $data.previewUrl() }, visible: $data.previewUrl()" style="width: 100%; max-width: 150px;" />
                <i data-bind="visible: !$data.previewUrl()" class="fa fa-cube" style="font-size: 3em; color: lightgrey"></i>
              </div>
              <div class="file_add_info_content" data-bind="html: $root.getAdditionalData($data)"></div>
              <div class="file_add_info_buttons">
                <ul class="button-area">
                  {% if local_addr %}
                  <li class="button">
                    <a href="#" data-bind="click: $root.copyToUsb, css: {disabled: !$root.isUsbAvailable() }">
                      <span>{{ _('Copy to USB') }}</span>
                    </a>
                  </li>
                  {% else %}
                  <li class="button">
                    <a href="#" data-bind="attr: {href: $root.downloadLink($data), css: {disabled: !$root.downloadLink($data)}}">
                      <span>{{ _('Download') }}</span>
                    </a>
                  </li>
                  {% endif %}
                  <li class="button failed-button">
                    <a href="#" data-bind="click: function () { if ($root.enableRemove($data)) { $root.removeFile($data); } else { return; } }, css: {disabled: !$root.enableRemove($data)}">
                      <span>{{ _('Delete') }}</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </script>
          <script type="text/html" id="files_template_usb_machinecode">
            <ul class="file_main">
              <li class="file_name">
                <a href="#">
                  <span data-bind="style: { 'font-weight': $root.listHelper.isSelected($data) ? 'bold' : 'normal' }, text: name"></span>
                </a>
              </li>
              <li class="file_load">
                <ul class="button-area">
                  <li class="button secondary-button load-button">
                    <a href="#" data-bind="click: function () { if ($root.enableSelect($data)) { $root.loadFile($data, false); } else { return; } }, css: {disabled: !$root.enableSelect($data)}" title="{{ _('Load') }}">
                      <span><i class="fa fa-upload"></i>{{ _('Load') }}</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </script>

          <script type="text/html" id="files_template_model">
            <ul class="file_main">
              <li class="file_name">
                <a href="#">
                  <span data-bind="style: { 'font-weight': $root.listHelper.isSelected($data) ? 'bold' : 'normal' }, text: name"></span><span style="font-style: italic"> {{ _('Not supported') }}</span>
                </a>
              </li>
              <li class="file_load">
                <ul class="button-area">
                  <li class="button secondary-button load-button">
                    <a href="#" data-bind="click: function () { if ($root.enableSelect($data)) { $root.removeFile($data); } else { return; } }, css: {disabled: !$root.enableSelect($data)}" title="{{ _('Remove') }}">
                      <span><i class="fa fa-trash"></i>{{ _('Delete') }}</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </script>
          <script type="text/html" id="files_template_folder">
            <div data-bind="click: $root.changeFolder">
              <ul class="file_main">
                <li class="file_status file_neutral">
                  <a href="#file_status">
                    <i class="fa fa-folder-open"></i>
                  </a>
                </li>
                <li class="file_name" data-bind="style: { 'font-weight': $root.listHelper.isSelected($data) ? 'bold' : 'normal' }">
                  <a href="#file_name">
                    <span data-bind="text: name"></span>
                  </a>
                </li>
                <li class="file_print" style="flex-basis: 150px">
                  <a href="#print_file">
                    <span data-bind="text: formatSize(size)"></span>
                  </a>
                </li>
              </ul>
            </div>
          </script>
        </div>
      </div>
    </div>
  </div>
</div>
