<div class="tab open" id="print">
  <div class="content">
    <div class="status_block print_status">
      <div class="Table">
        <div class="Table-row Table-header">
          <div class="Table-item">Print Job</div>
        </div>
        <div class="Table-row">
          <div class="Table-item">Job name</div>
          <div class="Table-item Table-item-grow-3">
            <span data-bind="text: filename" class="text_wrap"></span>
          </div>
        </div>
        <div class="Table-row">
          <div class="Table-item Table-item-grow-3 Table-nested">

            <div class="Table-row">
              <div class="Table-item Table-item-grow-2">Estimated</div>
              <div class="Table-item Table-item-grow-4" data-bind="text: estimatedPrintTimeString">1h</div>
            </div>
            <div class="Table-row">
              <div class="Table-item Table-item-grow-2">Time left</div>
              <div class="Table-item Table-item-grow-4" data-bind="text: printTimeLeftString">59m</div>
            </div>
            <div class="Table-row">
              <div class="Table-item Table-item-grow-2">Print time</div>
              <div class="Table-item Table-item-grow-4" data-bind="text: printTimeString">1m</div>
            </div>
            
          </div>
          <div class="Table-item Table-item-grow-1" style="align-items: flex-start">
            <img data-bind="attr: { src: printPreviewUrl }, visible: printPreviewUrl()" style="width: 100%; max-width: 175px;" />
            <i data-bind="visible: !printPreviewUrl()" class="fa fa-cube" style="font-size: 4em; color: lightgrey"></i>
          </div>

        </div>
        <div class="Table-row">
          <div class="Table-item">Filament</div>
          <div class="Table-item">
            L<span class="filament_amount" data-bind="text: leftFilament"></span>
          </div>
          <div class="Table-item Table-item-grow-2">
            R<span class="filament_amount" data-bind="text: rightFilament"></span>
          </div>
        </div>
        <div class="Table-row">
          <div class="Table-item">
            <ul class="button-area">
              <li class="button" data-bind="click: function(){gotoFileSelect()}, css: {disabled: !isOperational() || isPrinting() || !loginState.loggedIn()} " id="file_select">
                <a href="#">
                  <span>
                    <i class="fa fa-file"></i>Select print job
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="status_block print_control" data-bind="visible: !isPrinting() && !isPaused()">
      <div class="Table">
        <div class="Table-row Table-header">
          <div class="Table-item">Print Control</div>
        </div>
        <div class="Table-row">
          <div class="Table-item">
            <ul class="button-area">
              <li class="button" data-bind="click: function(){showInfoFlyout()}">
                <a href="#">
                  <span>
                    <i class="fa fa-gears"></i>Info
                  </span>
                </a>
              </li>
            </ul>
          </div>
          <div class="Table-item">
            <ul class="button-area">
              <li class="button ok-button" data-bind="click: print, css: { disabled: !isOperational() || !fileSelected() || !loginState.loggedIn()}">
                <a href="#">
                  <span>
                    <i class="fa fa-play"></i>Start print
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="status_block print_progress" data-bind="visible: isPrinting() || isPaused()">
      <div class="Table">
        <div class="Table-row Table-header">
          <div class="Table-item">Print Status</div>
        </div>
        <div class="Table-row">
          <div class="Table-item">Status</div>
          <div class="Table-item Table-item-grow-5">
            <div class="progress progress-striped progress-animate">
              <span class="bg-main" style="width: 100%" data-bind="text: stateStepString, css: stateStepColor()"></span>
            </div>
          </div>
        </div>
        <div class="Table-row">
          <div class="Table-item">Total</div>
          <div class="Table-item Table-item-grow-5">
            <div class="progress">
              <span class="bg-main" data-bind="style: { width: progressString() + '%' }"></span>
            </div>
          </div>
        </div>
        <div class="Table-row">
          <div class="Table-item">
            <ul class="button-area">
              <li class="button" data-bind="click: function(){showInfoFlyout()}">
                <a href="#">
                  <span>
                    <i class="fa fa-gears"></i>Info
                  </span>
                </a>
              </li>
            </ul>
          </div>
          <div class="Table-item">
            <ul class="button-area">
              <li class="button" data-bind="click: pause, css: {active: isPaused(), disabled: !enablePause()}, attr: {title: titlePauseButton}">
                <a href="#">
                  <span data-bind="visible: !isPaused()">
                    <i class="fa" data-bind="css: {'fa-pause': !isPaused(), 'fa-play': isPaused()}"></i> {{ _('Pause') }}
                  </span>
                  <span data-bind="visible: isPaused()">
                    <i class="fa" data-bind="css: {'fa-pause': !isPaused(), 'fa-play': isPaused()}"></i> {{ _('Resume') }}
                  </span>
                </a>
              </li>
            </ul>
          </div>
          <div class="Table-item">
            <ul class="button-area">
              <li class="button failed-button" data-bind="click: cancel, css: {disabled: !enableCancel()}" title="{{ _('Cancels the print job') }}">
                <a href="#">
                  <span>
                    <i class="fa fa-stop"></i>Cancel
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- ko allowBindings: false -->
    <div id="filament_status" class="status_block print_filament">
      <div class="Table">
        <div class="Table-row Table-header">
          <div class="Table-item">Filament</div>
        </div>
        <div class="Table-row">
          <div class="Table-row">
            <div class="Table-item" data-bind="text: leftFilament"></div>
            <div class="Table-item" data-bind="text: leftAmountString, , css: {file_failed: checkLeftFilamentAmount()}"></div>
          </div>
          <div class="Table-row">
            <div class="Table-item" data-bind="text: rightFilament"></div>
            <div class="Table-item" data-bind="text: rightAmountString, css: {file_failed: checkRightFilamentAmount()}"></div>
          </div>
        </div>
        {% if local_addr %}
        <div class="Table-row" data-bind="visible: !printerState.isPrinting() && !printerState.isPaused()">
          <div class="Table-row">
            <div class="Table-item">
              <ul class="button-area">
                <li class="button secondary-button" data-bind="click: function(){showFilamentChangeFlyout('tool1')}, css: { disabled: !printerState.isOperational() || !loginState.loggedIn() || filamentInProgress()}">
                  <a href="#">
                    <span>
                      <i class="fa fa-refresh"></i>Swap left
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="Table-row">
            <div class="Table-item">
              <ul class="button-area">
                <li class="button secondary-button" data-bind="click: function(){showFilamentChangeFlyout('tool0')}, css: { disabled: !printerState.isOperational() || !loginState.loggedIn() || filamentInProgress()} ">
                  <a href="#">
                    <span>
                      <i class="fa fa-refresh"></i>Swap right
                    </span>
                  </a>
                </li>

              </ul>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    <!-- /ko -->
  </div>
</div>
