<div class="tab open" id="print">
  <div class="content">
    <div class="status_block print_status">
      <div class="Table">
        <div class="Table-row Table-header">
          <div class="Table-item">{{ _('Print Job') }}</div>
        </div>
        <div class="Table-row">
          <div class="Table-item Table-item-grow-3">{{ _('Job name') }}</div>
          <div class="Table-item Table-item-grow-6">
            <span data-bind="text: filename" class="text_wrap"></span>
          </div>
        </div>
        <div class="Table-row">
          <div class="Table-item Table-item-grow-7 Table-nested">

            <div class="Table-row">
              <div class="Table-item Table-item-grow-3">{{ _('Estimated') }}</div>
              <div class="Table-item Table-item-grow-4" data-bind="text: estimatedPrintTimeString"></div>
            </div>
            <div class="Table-row">
              <div class="Table-item Table-item-grow-3">{{ _('Time left') }}</div>
              <div class="Table-item Table-item-grow-4" data-bind="text: printTimeLeftString"></div>
            </div>
            <div class="Table-row">
              <div class="Table-item Table-item-grow-3">{{ _('Print time') }}</div>
              <div class="Table-item Table-item-grow-4" data-bind="text: printTimeString"></div>
            </div>

          </div>
          <div class="Table-item Table-item-grow-2" style="align-items: flex-start">
            <img data-bind="attr: { src: printPreviewUrl }, visible: printPreviewUrl()" style="width: 100%; max-width: 175px;" />
            <i data-bind="visible: !printPreviewUrl()" class="fa fa-cube" style="font-size: 4em; color: lightgrey"></i>
          </div>

        </div>
        <div class="Table-row">
          <div class="Table-item Table-item-grow-3">{{ _('Filament') }}</div>
          <!-- ko foreach: requiredFilaments -->
          <div class="Table-item Table-item-grow-2">
            <span data-bind="text: $root.getShortToolName(name)"></span>
            <span class="filament_amount" data-bind="text: formatFilament(data())"></span>
          </div>
          <!-- /ko -->
          <div class="Table-item Table-item-grow-2">
          </div>
        </div>
        <div class="Table-row">
          <div class="Table-item">
            <ul class="button-area">
              <li class="button" data-bind="touchClick: function () {gotoFileSelect()}, css: {disabled: waitingForCancel() || !isOperational() || isPrinting() || !loginState.loggedIn()} " id="file_select">
                <a href="#">
                  <span>
                    <i class="fa fa-file"></i>{{ _('Select print job') }}
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="status_block print_control" data-bind="visible: !isPrinting() && !isPaused() && !waitingForCancel()">
      <div class="Table">
        <div class="Table-row Table-header">
          <div class="Table-item">{{ _('Print Control') }}</div>
        </div>
        <div class="Table-row">
          <div class="Table-item">
            <ul class="button-area">
              <li class="button" data-bind="touchClick: function () {showInfoFlyout()}">
                <a href="#">
                  <span>
                    <i class="fa fa-gears"></i>{{ _('Info') }}
                  </span>
                </a>
              </li>
            </ul>
          </div>
          <div class="Table-item">
            <ul class="button-area">
              <li class="button ok-button" data-bind="touchClick: function () { print() }, css: { disabled: !isOperational() || waitingForCancel() || !fileSelected() || !loginState.loggedIn()}">
                <a href="#">
                  <span>
                    <i class="fa fa-play"></i>{{ _('Start print') }}
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="status_block print_progress" data-bind="visible: isPrinting() || isPaused() || waitingForCancel()">
      <div class="Table">
        <div class="Table-row Table-header">
          <div class="Table-item">{{ _('Print Status') }}</div>
        </div>
        <div class="Table-row" data-bind="touchClick: function () {showInfoFlyout()}">
          <div class="Table-item">{{ _('Status') }}</div>
          <div class="Table-item Table-item-grow-5">
            <div class="progress progress-striped">
              <span class="bg-main" data-bind="text: toolInfo.printingStatusString, css: {'bg-orange': toolInfo.isHeating() || toolInfo.isStabilizing() }, style: {width: toolInfo.totalProgress() + '%'}"></span>
            </div>
          </div>
        </div>
        <div class="Table-row" data-bind="touchClick: function () {showInfoFlyout()}">
          <div class="Table-item">{{ _('Total') }}</div>
          <div class="Table-item Table-item-grow-5">
            <div class="progress">
              <span class="bg-main" data-bind="style: { width: progressString() + '%' }"></span>
            </div>
          </div>
        </div>
        <div class="Table-row">
          <div class="Table-item">
            <ul class="button-area">
              <li class="button" data-bind="touchClick: function () {showInfoFlyout()}">
                <a href="#">
                  <span>
                    <i class="fa fa-gears"></i>{{ _('Info') }}
                  </span>
                </a>
              </li>
            </ul>
          </div>
          <div class="Table-item">
            <ul class="button-area">
              <li class="button" data-bind="touchClick: function () { pause() }, css: {active: isPaused(), disabled: !enablePause()}, attr: {title: titlePauseButton}">
                <a href="#">
                  <span data-bind="visible: !isPaused()">
                    <i class="fa" data-bind="css: {'fa-pause': !isPaused(), 'fa-play': isPaused()}"></i> {{ _('Pause') }}
                  </span>
                  <span data-bind="visible: isPaused()">
                    <i class="fa" data-bind="css: {'fa-pause': !isPaused(), 'fa-play': isPaused()}"></i> {{ _('Resume') }}
                  </span>
                </a>
              </li>
            </ul>
          </div>
          <div class="Table-item">
            <ul class="button-area">
              <li class="button failed-button" data-bind="touchClick: function () { cancel() }, css: {disabled: !enableCancel()}" title="{{ _('Cancels the print job') }}">
                <a href="#">
                  <span>
                    <i class="fa fa-stop"></i>{{ _('Cancel') }}
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- ko allowBindings: false -->
    <div id="filament_status" class="status_block print_filament">
      <div class="Table">
        <div class="Table-row Table-header">
          <div class="Table-item">{{ _('Filament') }}</div>
        </div>
        <div class="Table-row">
          <!-- ko foreach: tools.slice(0).reverse() -->
          <div class="Table-item" style="flex-wrap: wrap">
            <div data-bind="text: filament.materialProfileName" style="flex-basis: 50%"></div>
            <div data-bind="text: $root.getAmountString(filament.amount())" style="flex-basis: 50%; text-align: right"></div>
            {% if local_addr %}
            <ul class="button-area" data-bind="visible: (!$root.printerState.isPrinting() || $root.printerState.isPaused()) && !$root.printerState.waitingForCancel()">
              <li class="button secondary-button" data-bind="touchClick: function() { $root.showFilamentChangeFlyout(key()) }">
                <a href="#">
                  <span data-bind="html: $root.getSwapFilamentButtonContents(key())"></span>
                </a>
              </li>
            </ul>
            {% endif %}
          </div>
          <!-- /ko -->
        </div>
      </div>
    </div>
    <!-- /ko -->
  </div>
</div>
