<div class="tab open" id="print">
    <div class="content">
        <div class="print_steps">
            <div class="print_step load_filament">
                <div class="step_status step_done">
                </div>
                <div class="step_title">
                    Load Filament
                </div>
                <div class="step_info">
                </div>
                <div class="step_action">
                    <ul class="button-area">
                        <li class="button secondary-button"><a href="#skip"><span>Skip</span></a></li>
                        <li class="button"><a href="#load_filament"><span>Change</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="print_step calibrate_bed">
                <div class="step_status step_done">
                </div>
                <div class="step_title">
                    Calibrate bed
                </div>
                <div class="step_info">
                </div>
                <div class="step_action">
                    <ul class="button-area">
                        <li class="button secondary-button"><a href="#skip"><span>Skip</span></a></li>
                        <li class="button"><a href="#load_filament" onclick="$.notify({title: 'hello0000000', text: 'yes'} ,'error')"><span>Calibrate</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="print_step pre_heat">
                <div class="step_status"></div>
                <div class="step_title">
                    Preheat
                </div>
                <div class="step_info">
                </div>
                <div class="step_action">
                    <ul class="button-area">
                        <li class="button secondary-button"><a href="#skip"><span>Skip</span></a></li>
                        <li class="button"><a href="#load_filament"><span>Preheat</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="print_step load_file disabled">
                <div class="step_status ">
                </div>
                <div class="step_title">
                    Load File
                </div>  
                <div class="step_info">
                </div>
                <div class="step_action">
                    <ul class="button-area">
                        <li class="button"><a href="#load_filament"><span>Load File</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="print_step print_file disabled">
                <div class="step_status"></div>
                <div class="step_title">
                    Print File
                </div>
                <div class="step_info">
                </div>
                <div class="step_action">
                    <ul class="button-area">
                        <li class="button ok-button"><a href="#load_filament"><span>Start Print</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>