<div class="tab" id="settings">
    <div class="content">
        <div class="settings_topics">
        {% set mark_active = True %}
        {% for key in templates.settings.order %}
            {% set entry, data = templates.settings.entries[key] %}
            {% if data is none %}
                <div class="settings_topic">
                    <ul class="topic_main">
                        <li class="topic_name">
                            <a href="#topic">
                                <span>{{ entry }}</span> 
                            </a>
                        </li>
                    </ul>
                </div>
            {% else %}
                {% if "custom_bindings" not in data or data["custom_bindings"] %}<!-- ko allowBindings: false -->{% endif %}
                <div id="{{ data._div }}_link" class="settings_topic" data-bind="click: function() {showSettingsTopic('{{ entry }}')}">
                    <ul class="topic_main">
                        <li class="topic_dash">
                            <a href="">
                                <i class="fa fa-minus"></i>
                            </a>
                        </li>
                        <li class="topic_name">
                            <a href="#topic">
                                <span>{{entry|e}}</span>
                            </a>
                        </li>
                        <li class="topic_info">
                            <a href="#topic_info">
                                <i class="fa fa-2x fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
               {% if "custom_bindings" not in data or data["custom_bindings"] %}<!-- /ko -->{% endif %}
            {% endif %}
        {% endfor %}
        </div><!-- /Topics -->
    </div> <!-- /Content -->
</div>
{% set mark_active = True %}
{% for key in templates.settings.order %}
    {% set entry, data = templates.settings.entries[key] %}
    {% if data is none %}
    {% else %}
        <script type="text/html" id="{{entry}}">
            <div class="flyout-header">
                <h4>{{entry}}</h4>
                <span class="flyout-close" onClick="toggleFlyOut()">x</span>
            </div>
            <div class="flyout-body">
                {% include data.template ignore missing %}
                <ul class="button-area">
                    <li class="button"><a href="#save"><span>Save</span></a>
                </ul>
            </div>
        </script>
    {% endif %}
{% endfor %}
<!-- Features -->
<script type="text/html" id="settingsFlyOut">
    <div class="flyout-header">
        <h4 data-bind="text: settingsTopic"></h4>
        <span class="flyout-close" onClick="toggleFlyOut()">x</span>
    </div>
    <div class="flyout-body">
        <form class="form-horizontal">
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: feature_temperatureGraph" id="settings-featureTemperatureGraph"> {{ _('Enable Temperature Graph') }}
                    </label>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: feature_gcodeViewer" id="settings-featureGcodeViewer"> {{ _('Enable GCode Visualizer') }}
                    </label>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: feature_sdSupport" id="settings-featureSdSupport"> {{ _('Enable SD support') }}
                    </label>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: feature_keyboardControl" id="settings-featureKeyboardControl"> {{ _("Enable Keyboard Control") }}
                    </label>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: feature_waitForStart" id="settings-featureWaitForStart"> {{ _('Wait for <code>start</code> on connect') }}
                    </label>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: feature_sdAlwaysAvailable" id="settings-featureSdAlwaysAvailable"> {{ _('Always assume SD card is present') }} <span class="label">{{ _('Repetier') }}</span>
                    </label>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: feature_ignoreIdenticalResends" id="settings-ignoreIdenticalResends"> {{ _('Ignore consecutive resend requests for the same line') }} <span class="label">{{ _('Repetier') }}</span>
                    </label>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: feature_ignoreIdenticalResends" id="settings-ignoreIdenticalResends"> {{ _('Ignore consecutive resend requests for the same line') }} <span class="label">{{ _('Repetier') }}</span>
                    </label>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: feature_repetierTargetTemp" id="settings-featureRepetierTargetTemp"> {{ _('Support <code>TargetExtr%%n</code>/<code>TargetBed</code> target temperature format') }} <span class="label">{{ _('Repetier') }}</span>
                    </label>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: feature_disableExternalHeatupDetection" id="settings-featureExternalHeatupDetection"> {{ _('Disable detection of external heatups') }} <span class="label">{{ _('Repetier') }}</span>
                    </label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ _('Send a checksum with the command')}}</label>
                <div class="controls">
                    <label class="radio">
                        <input type="radio" name="sendChecksumGroup" value="print" data-bind="checked: feature_sendChecksum" id="settings-featureSendChecksumPrint"> {{ _('When printing') }}
                    </label>
                    <label class="radio">
                        <input type="radio" name="sendChecksumGroup" value="always" data-bind="checked: feature_sendChecksum" id="settings-featureSendChecksumAlways"> {{ _('Always') }}  <span class="label">{{ _('Repetier') }}</span>
                    </label>
                    <label class="radio">
                        <input type="radio" name="sendChecksumGroup" value="never" data-bind="checked: feature_sendChecksum" id="settings-featureSendChecksumNever"> {{ _('Never') }}
                    </label>
                </div>
            </div>
        </form>
        <ul class="button-area">
            <li class="button"><a href="#save"><span>Save</span></a>
        </ul>
    </div>
</script>
{% for key in templates.plugin_lui_flyout.order %}
  {% set entry, data = templates.plugin_lui_flyout.entries[key] %}
  <script type="text/html" id="{{ data._div }}">
      <div class="flyout-header">
          <h4>{{ entry }}</h4>
          <span class="flyout-close" data-bind="click: $root.closeFlyout">x</span>
      </div>
      <div class="flyout-body">
          <!-- ko allowBindings: false -->
          <div id="{{ data._div }}_flyout_content">
            {% include data.template %}
          </div>
          <!-- /ko -->
          <ul class="button-area">
            <li class="button"><a href="#save" data-bind="click: $root.closeFlyoutWithButton"><span>{{ data.button_text }}</span></a>
          </ul>
      </div>
  </script>
{% endfor %}