<div class="tab" id="settings">
  <div class="content">
    <div class="settings_topics">
      <!-- Printer -->
      <div class="settings_topic">
        <ul class="topic_main" data-bind="event: { mousedown: function () {showSettingsTopic('printer')}}, css: {disabled: !loginState.loggedIn() || !loginState.isAdmin()} ">
          <li class="topic_dash">
            <a href="#">
              <i class="fa fa-print"></i>
            </a>
          </li>
          <li class="topic_name">
            <a href="#topic">
              <span>{{ _('Printer') }}</span>
            </a>
          </li>
          <li class="topic_info">
            <a href="#topic_info">
              <i class="fa fa-2x fa-angle-right"></i>
            </a>
          </li>
        </ul>
      </div><!-- Printer -->
      {% if local_addr %}
      <!-- Maintenance -->
      <div id="maintenance" class="settings_topic">
        <ul class="topic_main" data-bind="touchClick: function () {showSettingsTopic('maintenance')}, css: { disabled: !printerState.isOperational() || printerState.isPaused() || printerState.isPrinting() } ">
          <li class="topic_dash">
            <a href="#">
              <i class="fa fa-wrench"></i>
            </a>
          </li>
          <li class="topic_name">
            <a href="#topic">
              <span>{{ _('Maintenance') }}</span>
            </a>
          </li>
          <li class="topic_info">
            <a href="#topic_info">
              <i class="fa fa-2x fa-angle-right"></i>
            </a>
          </li>
        </ul>
      </div><!-- Maintenance -->
      {% endif %}
      {% if printer_profile["rgbLights"] %}
      <!-- RGB Lighting -->
      <div id="RGB_lighting" class="settings_topic">
        <ul class="topic_main" data-bind="touchClick: function () {showSettingsTopic('rgb_lighting')}, css: { disabled: printerState.isPrinting() } ">
          <li class="topic_dash">
            <a href="#">
              <i class="fa fa-tasks"></i>
            </a>
          </li>
          <li class="topic_name">
            <a href="#topic">
              <span>{{ _('RGB lighting') }}</span>
            </a>
          </li>
          <li class="topic_info">
            <a href="#topic_info">
              <i class="fa fa-2x fa-angle-right"></i>
            </a>
          </li>
        </ul>
      </div><!-- RGB Lighting -->
      {% endif %}
      <!-- Materials -->
      <div class="settings_topic">
        <ul class="topic_main" data-bind="touchClick: function () {showSettingsTopic('materials')}, css: {disabled: !loginState.loggedIn() || !loginState.isAdmin()}">
          <li class="topic_dash">
            <a href="#">
              <i class="fa fa-sun-o"></i>
            </a>
          </li>
          <li class="topic_name">
            <a href="#topic">
              <span>{{ _('Materials') }}</span>
            </a>
          </li>
          <li class="topic_info">
            <a href="#topic_info">
              <i class="fa fa-2x fa-angle-right"></i>
            </a>
          </li>
        </ul>
      </div><!-- Materials -->
      <!-- Webcam -->
      <div class="settings_topic">
        <ul class="topic_main" data-bind="touchClick: function () {showSettingsTopic('webcam')}, css: {disabled: !loginState.loggedIn()}">
          <li class="topic_dash">
            <a href="#">
              <i class="fa fa-video-camera"></i>
            </a>
          </li>
          <li class="topic_name">
            <a href="#topic">
              <span>{{ _('Webcam') }}</span>
            </a>
          </li>
          <li class="topic_info">
            <a href="#topic_info">
              <i class="fa fa-2x fa-angle-right"></i>
            </a>
          </li>
        </ul>
      </div><!-- /Webcam -->

      <!-- Users -->
      <div class="settings_topic">
        <ul class="topic_main" data-bind="touchClick: function () {showSettingsTopic('users')}, css: {disabled: !loginState.loggedIn() || !loginState.isAdmin()}">
          <li class="topic_dash">
            <a href="#">
              <i class="fa fa-user"></i>
            </a>
          </li>
          <li class="topic_name">
            <a href="#topic">
              <span>{{ _('Users') }}</span>
            </a>
          </li>
          <li class="topic_info">
            <a href="#topic_info">
              <i class="fa fa-2x fa-angle-right"></i>
            </a>
          </li>
        </ul>
      </div><!-- /Users -->
      {% if local_addr %}
      <!-- Wireless -->
      <div class="settings_topic">
        <ul class="topic_main" data-bind="touchClick: function () {showSettingsTopic('wireless')}, css: {disabled: !loginState.loggedIn() || !loginState.isAdmin()}">
          <li class="topic_dash">
            <a href="#">
              <i class="fa fa-wifi"></i>
            </a>
          </li>
          <li class="topic_name">
            <a href="#topic">
              <span>{{ _('Wireless') }}</span>
            </a>
          </li>
          <li class="topic_info">
            <a href="#topic_info">
              <i class="fa fa-2x fa-angle-right"></i>
            </a>
          </li>
        </ul>
      </div><!-- Wireless -->
      {% endif %}
      {% if debug_lui %}
      <!-- Advanced -->
      <div class="settings_topic">
        <ul class="topic_main" data-bind="touchClick: function () {showSettingsTopic('advanced')}">
          <li class="topic_dash">
            <a href="#">
              <i class="fa fa-plus"></i>
            </a>
          </li>
          <li class="topic_name">
            <a href="#topic">
              <span>{{ _('Advanced') }}</span>
            </a>
          </li>
          <li class="topic_info">
            <a href="#topic_info">
              <i class="fa fa-2x fa-angle-right"></i>
            </a>
          </li>
        </ul>
      </div><!-- /Advanced -->
      {% endif %}
      <!-- Update -->
      <div class="settings_topic">
        <ul class="topic_main" data-bind="touchClick: function () {showSettingsTopic('update')}, css: {disabled: !loginState.loggedIn() || !loginState.isAdmin() || printerState.isPrinting() || printerState.isPaused()}">
          <li class="topic_dash">
            <a href="#">
              <!-- ko allowBindings: false -->
              <div id="update_icon">
                <i class="fa fa-refresh"></i>
                <span data-bind="text: update_needed() + firmwareUpdateAvailable() == 0 ? '' : update_needed() + firmwareUpdateAvailable(), css: {badge: update_needed() + firmwareUpdateAvailable()}"></span>
              </div>
              <!-- /ko -->
            </a>
          </li>
          <li class="topic_name">
            <a href="#topic">
              <span>{{ _('Update') }}</span>
            </a>
          </li>
          <li class="topic_info">
            <a href="#topic_info">
              <i class="fa fa-2x fa-angle-right"></i>
            </a>
          </li>
        </ul>
      </div><!-- /Update -->
      <!-- Languanges -->
      <div class="settings_topic">
        <ul class="topic_main" data-bind="touchClick: function () {showSettingsTopic('languages')}, css: {disabled: !loginState.loggedIn() || !loginState.isAdmin() }">
          <li class="topic_dash">
            <a href="#">
              <i id="language_icon" class="fa fa-globe"></i>
            </a>
          </li>
          <li class="topic_name">
            <a href="#topic">
              <span>{{ _('Languages') }}</span>
            </a>
          </li>
          <li class="topic_info">
            <a href="#topic_info">
              <i class="fa fa-2x fa-angle-right"></i>
            </a>
          </li>
        </ul>
      </div><!-- /Languanges -->
      <!-- Cloud -->
      {% if cloud_enabled %} 
      <div class="settings_topic">
        <ul class="topic_main" data-bind="touchClick: function () {showSettingsTopic('cloud')}, css: {disabled: !loginState.loggedIn() || !loginState.isAdmin() }">
          <li class="topic_dash">
            <a href="">
              <i id="cloud_icon" class="fa fa-cloud"></i>
            </a>
          </li>
          <li class="topic_name">
            <a href="#topic">
              <span>{{ _('Cloud') }}</span>
            </a>
          </li>
          <li class="topic_info">
            <a href="#topic_info">
              <i class="fa fa-2x fa-angle-right"></i>
            </a>
          </li>
        </ul>
      </div><!-- /Cloud -->
      {% endif %}
      {% if not local_addr %}
      <!-- Logs -->
      <div class="settings_topic" data-bind="touchClick: function () {showSettingsTopic('logs')}, css: {disabled: !loginState.loggedIn() || !loginState.isAdmin() || printerState.isPrinting() || printerState.isPaused()}">
        <ul class="topic_main">
          <li class="topic_dash">
            <a href="#">
              <i id="logs_icon" class="fa fa-file-text"></i>
            </a>
          </li>
          <li class="topic_name">
            <a href="#topic">
              <span>{{ _('Logs') }}</span>
            </a>
          </li>
          <li class="topic_info">
            <a href="#topic_info">
              <i class="fa fa-2x fa-angle-right"></i>
            </a>
          </li>
        </ul>
      </div><!-- /Logs -->
      {% endif %}
      {% if local_addr %}
      <!-- Tutorials -->
      <div class="settings_topic">
          <ul class="topic_main" data-bind="touchClick: function () {showSettingsTopic('tutorials')}, css: {disabled: !loginState.loggedIn() || !loginState.isAdmin() || printerState.isPaused()|| printerState.isPrinting()}">
          <li class="topic_dash">
            <a href="">
              <i id="language_icon" class="fa fa-graduation-cap"></i>
            </a>
          </li>
          <li class="topic_name">
            <a href="#topic">
              <span>{{ _('Tutorials') }}</span>
            </a>
          </li>
          <li class="topic_info">
            <a href="#topic_info">
              <i class="fa fa-2x fa-angle-right"></i>
            </a>
          </li>
        </ul>
      </div><!-- /Tutorials -->
    {% endif %}
    </div>
    <!-- /Topics -->
  </div>
  <!-- /Content -->
</div>
