
<div class="tab" id="status">
    <div class="content">
        <section class="print_status">
            <div class="title">Status</div>
            <ul>
                <li class="file-name">File name: Tree_frog_PLA_0.1</li>
                <li class="print-time">Print time: 00:40:32</li>
                <li class="estimated-time">Estimated Time left: 00:03:59</li>
                <li class="filament-used">Filament used: 100mm</li>
                <li class="filament-needed">Filament needed: 10</li>
                <li class="filament-left">Filament left: 2000mm</li>
            </ul>
        </section>
        <section class="print_progress">
            <div class="title">Progress</div>
            <div class="progress-bar">
                <span style="width: 50%">Printing...</span>
            </div>
        </section>
        <section class="print_temperature">
            <div class="title">Temperature</div>
            <div class="tool1 circle">
                <div class="circle_text">
                    <ul>
                        <li><strong></strong></li>
                        <li class="target_temp">300</li>
                        <li>Right</li>
                    </ul>
                </div>
            </div>
            <div class="tool2 circle">
                <div class="circle_text">
                    <ul>
                        <li><strong></strong></li>
                        <li class="target_temp">300</li>
                        <li>Left</li>
                    </ul>
                </div>
            </div>
            <div class="chamber circle">
                <div class="circle_text">
                    <ul>
                        <li><strong></strong></li>
                        <li class="target_temp">80</li>
                        <li>Bed</li>
                    </ul>
                </div>
            </div>
        </section>
        <div class="webcam_area">
            <div class="button-area">
                <ul>
                    <li class="button"><a href="#"><span>Show Webcam</span></a></li>
                </ul>
            </div>            
        </div>
    </div>
</div>